<template>
    <div>
        <el-table v-loading="form.loading" :data="form.params.depositTypeVoList">
            <el-table-column label="支付方式" prop="label"></el-table-column>
            <el-table-column label="状态">
                <template #default="props">
                    <el-switch v-model="props.row.active" @change="onActiveChange"></el-switch>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import FormVo from "@/models/vos/FormVo";
    import WalletApi from "@/api/WalletApi";
    import WindowUtil from "@/utils/WindowUtil";

    /**
     * 系统设置
     */
    @Component({})
    export default class SystemSettingDepositTypeSwitch extends Vue {
        /**
         * 表单数据
         */
        form = new FormVo({
            depositTypeVoList: []
        });


        /**
         * 请求支付方式开关 vo list
         */
        async requestDepositTypeVoList() {
            this.form.loading = true;
            this.form.params.depositTypeVoList = await WalletApi.getDepositTypeVoList();
            this.form.loading = false;
        }
        /**
         * 状态变化
         */
        async onActiveChange() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;
            let done = await WalletApi.saveDepositTypeVoList(this.form.params);
            this.form.loading = false;

            if (!done) {
                return;
            }

            await this.requestDepositTypeVoList();
        }


        /**
         * 渲染完后执行的方法
         */
        async mounted() {
            await this.requestDepositTypeVoList();
        }
    }
</script>

<style lang="scss" scoped>

</style>
