<template>
    <div class="app-container">
        <el-tabs>
            <el-tab-pane label="会员支付方式开关">
                <SystemSettingDepositTypeSwitch></SystemSettingDepositTypeSwitch>
            </el-tab-pane>
            <el-tab-pane label="客服联系方式">
                <SystemSettingMemberContact></SystemSettingMemberContact>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import SystemSettingDepositTypeSwitch from "@/views/system/SystemSettingDepositTypeSwitch.vue";
    import SystemSettingMemberContact from "@/views/system/SystemSettingMemberContact.vue";

    @Component({
        components: {SystemSettingMemberContact, SystemSettingDepositTypeSwitch}
    })
    export default class SystemSetting extends Vue {

    }
</script>

<style lang="scss" scoped>

</style>
