<template>
    <div class="app-container">
        <div class="filter-container" v-if="isAdmin">
            <div class="filter-container" style="padding-bottom: 0px;padding-top: 10px;">
                <el-button @click="addNoticeClick" type="primary" icon="el-icon-plus">
                    {{ $t('table.addNotice') }}
                </el-button>
                <el-button @click="requestNoticeRowTable" icon="el-icon-refresh" circle></el-button>
            </div>
        </div>
        <el-table :data="table.rows" v-loading="table.loading" stripe v-if="isAdmin">
            <el-table-column label="公告类型" prop="notice_type"></el-table-column>
            <el-table-column label="标题" prop="title"></el-table-column>
            <el-table-column label="内容" prop="content"></el-table-column>
            <el-table-column label="创建时间" prop="record_date"></el-table-column>
            <el-table-column label="最后更新时间" prop="update_date"></el-table-column>
            <el-table-column label="操作">
                <template #default="scope">
                    <el-button @click="noticeEdit(scope.row)" size="mini">修改</el-button>
                    <el-button @click="noticeDelete(scope.row)" size="mini">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-table :data="table.rows" v-loading="table.loading" stripe v-else>
            <el-table-column label="通知内容" prop="content"></el-table-column>
            <el-table-column label="发布时间" prop="record_date"></el-table-column>
        </el-table>

        <!--添加|修改公告的弹窗-->
        <el-dialog :title="dialogTitle" :visible.sync="form.visible" :close-on-click-modal="false">
            <el-form @submit.native.prevent label-width="120px">
                <el-form-item label="公告类型">
                    <el-select v-model="form.params.notice_type"  filterable>
                        <el-option v-for="opt in noticeTypeOpts" :key="opt.value" :label="opt.label" :value="opt.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="标题">
                    <el-input v-model="form.params.title"></el-input>
                </el-form-item>
                <el-form-item label="内容">
                    <el-input v-model="form.params.content" type="textarea" :rows="3"></el-input>
                </el-form-item>
            </el-form>

            <template #footer>
                <el-button @click="form.visible = false">取消</el-button>
                <el-button @click="noticeSubmitClick" type="primary">确认</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import C from "@/constants/C";
    import OptVo from "@/models/vos/OptVo";
    import HttpUtil from "@/utils/HttpUtil";
    import NoticeApi from "@/api/NoticeApi";
    import TableVo from "@/models/vos/TableVo";
    import WindowUtil from "@/utils/WindowUtil";
    import CommonUtil from "@/utils/CommonUtil";
    import {ConstStore} from "@/store/modules/ConstStore";
    import {UserStore} from "@/store/modules/UserStore";
    import FormVo from "@/models/vos/FormVo";

    /**
     * 账号表格数据封装
     */
    @Component({})
    export default class SystemNoticeTable extends Vue {
        public form = new FormVo({
            id: "",
            title: "",
            content: "",
            notice_type: "",
        });
        /**
         * 表格数据
         */
        public table = new TableVo({
        });
        /**
         * 渲染后执行的方法
         */
        mounted() {
            this.requestNoticeRowTable();
        }
        /**
         *获取公告类
         */
        get noticeTypeOpts(): OptVo[] {
            return OptVo.loadListByLabels(ConstStore.noticeTypeLabels,C.OPT_VALUE_TYPE_NUMBER);
        }

        get isAdmin():boolean {
            return UserStore.isAdmin;

        }
        /**
         * 请求公告表格数据
         */
        public async requestNoticeRowTable() {
            if (this.table.loading) {
                return;
            }
            this.table.loading = true;
            let vo = await NoticeApi.getTable(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }
        /**
         * 弹窗标题
         */
        get dialogTitle(): string {
            let dialogTitle = "";
            if (this.isFormTypeAdd) {
                dialogTitle = "添加";
            } else if (this.isFormTypeMod) {
                dialogTitle = "修改";
            }
            return dialogTitle;
        }
        /**
         * 表单类型是否是添加
         */
        get isFormTypeAdd(): boolean {
            return this.form.type === C.FORM_TYPE_ADD;
        }
        /**
         * 表单类型是否是修改
         */
        get isFormTypeMod(): boolean {
            return this.form.type === C.FORM_TYPE_MOD;
        }
        /**
         * 添加公告
         */
        public addNoticeClick() {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_ADD);
            this.form.visible = true;
        }
        /**
         * 提交表单（公告）
         */
        public async noticeSubmitClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            let url: string = "";
            if (this.form.type === C.FORM_TYPE_ADD) {
                url = "notice/add-notice";
            } else if (this.form.type === C.FORM_TYPE_MOD) {
                url = "notice/edit-notice";
            }
            this.form.loading = true;
            let params = CommonUtil.copy(this.form.params);
            let isDone = await NoticeApi.editNotice(params,url);
            if (isDone) {
                this.form.visible = false;
                this.requestNoticeRowTable();
            }
            this.form.loading = false;
        }

        /**
         * 删除公告
         */
        noticeDelete(userVo: any) {
                if (this.form.loading) {
                    return;
                }
                this.form.loading = true;
                HttpUtil.post("notice/del-notice", {noticeId: userVo.id}).then((vo) => {
                    if (vo.isDone()) {
                        this.form.visible = false;
                        this.requestNoticeRowTable();
                    }
                }).finally(() => {
                    this.form.loading = false;
                });
        }
        /**
         * 编辑公告
         */
        noticeEdit(userVo: any) {
            this.form.params.id = userVo.id;
            this.form.params.title = userVo.title;
            this.form.params.content = userVo.content;
            this.form.params.notice_type = userVo.notice_type;
            this.form.type = C.FORM_TYPE_MOD;
            this.form.visible = true;
        }

    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
