<template>
    <div class="system-setting-member-contact">
        <el-button icon="el-icon-refresh" @click="onRefreshClick"></el-button>

        <el-divider content-position="left">QQ号</el-divider>

        <div v-for="(qq, index) in form.params.qqs" :key="index">
            <el-input v-model="form.params.qqs[index]"></el-input><el-button icon="el-icon-delete" @click="form.params.qqs.splice(index, 1)"></el-button>
        </div>
        <el-button icon="el-icon-plus" @click="onAddClick"></el-button>

        <el-divider></el-divider>

        <el-button type="primary" @click="onSaveClick">保存</el-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import FormVo from "@/models/vos/FormVo";
    import WindowUtil from "@/utils/WindowUtil";
    import SystemApi from "@/api/SystemApi";

    /**
     * 会员联系方式配置
     */
    @Component({})
    export default class SystemSettingMemberContact extends Vue {
        form = new FormVo({
            qqs: [],
        });


        /**
         * 刷新按钮点击
         */
        async onRefreshClick() {
            await this.requestMemberContactVo();
        }
        /**
         * 请求联系方式
         */
        async requestMemberContactVo() {
            this.form.loading = true;
            this.form.params = await SystemApi.getMemberContactVo();
            this.form.loading = false;
        }
        /**
         * 添加按钮点击
         */
        async onAddClick() {
            if (this.form.params.qqs.length >= 4) {
                WindowUtil.messageError("最多只能4个QQ号");
                return;
            }
            this.form.params.qqs.push("");
        }
        /**
         * 保存点击
         */
        async onSaveClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;
            await SystemApi.saveMemberContactVo(this.form.params);
            this.form.loading = false;
        }


        /**
         * 选然后执行
         */
        async mounted() {
            await this.requestMemberContactVo();
        }
    }
</script>

<style lang="scss" scoped>
    .system-setting-member-contact {
        .el-input {
            width: 200px;
        }
    }
</style>
