<template>
  <div>
      <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { mixins } from 'vue-class-component'
import { DeviceType, AppModule } from '@/store/modules/app'
import { SettingsModule } from '@/store/modules/settings'
import { AppMain, Navbar, Settings, Sidebar, TagsView } from './components'
import RightPanel from '@/components/RightPanel/index.vue'
import ResizeMixin from './mixin/resize'

@Component({
  name: 'LayoutEmpty',
})
export default class LayoutEmpty extends mixins(ResizeMixin) {
}
</script>

<style lang="scss" scoped>
</style>
