<template>
    <div class="app-container">
        <el-tabs v-model="activeTabPane" @tab-click="initUpType">
            <el-tab-pane
                    v-for="(opt, index) in userTypeOpts"
                    :key="index"
                    :label="opt.label+'报表'"
                    :name="'userTable_' + opt.value"
                    lazy>
            </el-tab-pane>
        </el-tabs>
        <div class="account-manage-user-table">
            <div class="filter-container">
                <el-tag>{{ userTypeLabel }}列表</el-tag>
                <div style="display: inline-block;white-space: nowrap;margin-right: 10px;margin-left: 10px;">
                    <el-date-picker v-model="table.params.startTime" value-format="yyyy-MM-dd" type="date" placeholder="开始时间" style="width: 140px"></el-date-picker>
                    -
                    <el-date-picker v-model="table.params.endTime" value-format="yyyy-MM-dd" type="date" placeholder="结束时间" style="width: 140px"></el-date-picker>
                </div>
                <template v-if="isShowSearchSelect">
                    <el-input v-model="table.params.username" @keyup.native.enter="refreshTable" placeholder="用户名搜索" style="width: 120px;"></el-input>
                    所属上线
                    <el-select
                            v-model="upType"
                            filterable
                            clearable
                            placeholder="筛选用户类型"
                            @change="onUpTypeChange">
                        <el-option v-for="opt in upTypeOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                    </el-select>
                    <el-select
                            v-model="upId"
                            filterable
                            clearable
                            placeholder="所有"
                            @change="refreshTable">
                        <el-option v-for="opt in upOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                    </el-select>
                </template>
                <template v-if="table.loading">
                    <el-button icon="el-icon-loading" circle></el-button>
                </template>
                <template v-else>
                    <el-button @click="refreshTable" icon="el-icon-refresh" type="primary">搜索</el-button>
                </template>
            </div>
            <template v-if="isReportInout">
                <el-table :data="table.rows" v-loading="table.loading" stripe>
                    <el-table-column :label="userTypeLabel">
                        <template #default="props">
                            <template v-if="props.row.lastColumn || isMember">
                                {{props.row.username}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="userClick(props.row.username)">{{props.row.username}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="总收入" prop="INCOME"></el-table-column>
                    <el-table-column label="总支出" prop="WITHDRAW"></el-table-column>
                    <el-table-column label="总结余" prop="REST"></el-table-column>
                </el-table>
            </template>
            <template v-else>
                <el-table :data="table.rows" v-loading="table.loading" stripe>
                    <el-table-column :label="userTypeLabel">
                        <template #default="props">
                            <template v-if="props.row.lastColumn || isMember">
                                {{props.row.username}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="userClick(props.row.username)">{{props.row.username}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="充值" prop="INCOME">
                        <template #default="props">
                            <template v-if="props.row.lastColumn">
                                {{props.row.INCOME}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="showDetail(props.row.userId,'PAY')">{{props.row.INCOME}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="提款" prop="WITHDRAW">
                        <template #default="props">
                            <template v-if="props.row.lastColumn">
                                {{props.row.WITHDRAW}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="showDetail(props.row.userId,'WITHDRAW')">{{props.row.WITHDRAW}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="投注" prop="BET">
                        <template #default="props">
                            <template v-if="props.row.lastColumn">
                                {{props.row.BET}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="showDetail(props.row.userId,'BET')">{{props.row.BET}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="奖金" prop="WIN">
                        <template #default="props">
                            <template v-if="props.row.lastColumn">
                                {{props.row.WIN}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="showDetail(props.row.userId,'WIN')">{{props.row.WIN}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="福利" prop="WEAL">
                        <template #default="props">
                            <template v-if="props.row.lastColumn">
                                {{props.row.WEAL}}
                            </template>
                            <template v-else>
                                <el-button type="text" @click="showDetail(props.row.userId,'WEAL')">{{props.row.WEAL}}</el-button>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column label="赢输（投注+奖金+福利）" prop="RESULT"></el-table-column>
                </el-table>
            </template>
        </div>
        <!--<el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"-->
        <!--layout="total, sizes, prev, pager, next, jumper"></el-pagination>-->
        <!--查看明细窗口-->
        <el-dialog title="明细查询" :visible.sync="detailVisible" :close-on-click-modal="false">
            <el-table :data="detailTable.rows" v-loading="detailTable.loading" stripe height="350" show-summary>
                <el-table-column label="会员" prop="username"></el-table-column>
                <el-table-column label="单号" prop="recordNoLabel"></el-table-column>
                <el-table-column label="类型" prop="typeLabel"></el-table-column>
                <el-table-column label="金额" prop="amount"></el-table-column>
            </el-table>
            <template #footer>
                <el-button @click="detailVisible = false">关闭</el-button>
            </template>
        </el-dialog>

    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator'
    import {UserStore} from "@/store/modules/UserStore";
    import OptVo from "@/models/vos/OptVo";
    import CommonUtil from "@/utils/CommonUtil";
    import TableVo from "@/models/vos/TableVo";
    import ReportApi from "@/api/ReportApi";
    import {ConstStore} from "@/store/modules/ConstStore";
    import C from "@/constants/C";
    import TimeUtil from "@/utils/TimeUtil";

    @Component({
        components: {}
    })
    export default class Report extends Vue {
        public upId: number | string = "";
        public upType: number | string = "";
        public userType: number = C.USER_TYPE_MEMBER; //当前层的用户类型

        detailVisible = false;

        /**
         * 当前激活的标签名字
         */
        public activeTabPane: string = "userTable_" + C.USER_TYPE_MEMBER;
        /**
         * 表格数据
         */
        public table = new TableVo({
            username: "",
            lastColumn: false,
            startTime: TimeUtil.today(),
            endTime: TimeUtil.today()
        });

        /**
         * 表格数据
         */
        public detailTable = new TableVo({
            userId: 0,
        });


        /**
         * 是否盈亏报表
         */
        get isReportInout(): boolean {
            return this.reportType == C.REPORT_TYPE_INOUT;
        }

        /**
         * 是否盈亏报表
         */
        get reportType(): string {
            return this.$route.meta.reportType;
        }


        /**
         * 是否显示筛选框
         */
        get isShowSearchSelect(): boolean {
            return (this.isMember || this.isAgent || this.isVendor || this.isHolder) && (this.userType !== UserStore.userType);
        }

        /**
         * 当前表格显示的用户类型：管理员
         */
        get isAdmin(): boolean {
            return this.userType === C.USER_TYPE_ADMIN;
        }

        /**
         * 当前表格显示的用户类型：大股东
         */
        get isSuperHolder(): boolean {
            return this.userType === C.USER_TYPE_SOLDER;
        }

        /**
         * 当前表格显示的用户类型：股东
         */
        get isHolder(): boolean {
            return this.userType === C.USER_TYPE_HOLDER;
        }

        /**
         * 当前表格显示的用户类型：总代理
         */
        get isVendor(): boolean {
            return this.userType === C.USER_TYPE_VENDOR;
        }

        /**
         * 当前表格显示的用户类型：代理
         */
        get isAgent(): boolean {
            return this.userType === C.USER_TYPE_AGENT;
        }

        /**
         * 当前表格显示的用户类型：会员
         */
        get isMember(): boolean {
            return this.userType === C.USER_TYPE_MEMBER;
        }

        /**
         * 当前搜索的用户类型：大股东
         */
        get isUpTypeSuperHolder(): boolean {
            return this.upType === C.USER_TYPE_SOLDER;
        }

        /**
         * 当前搜索的用户类型：股东
         */
        get isUpTypeHolder(): boolean {
            return this.upType === C.USER_TYPE_HOLDER;
        }

        /**
         * 当前搜索的用户类型：总代理
         */
        get isUpTypeVendor(): boolean {
            return this.upType === C.USER_TYPE_VENDOR;
        }

        /**
         * 当前搜索的用户类型：代理
         */
        get isUpTypeAgent(): boolean {
            return this.upType === C.USER_TYPE_AGENT;
        }

        /**
         * 当前表格显示的用户类型的标签
         */
        get userTypeLabel(): string {
            return ConstStore.userTypeLabels.hasOwnProperty(this.userType) ? ConstStore.userTypeLabels[this.userType] : "";
        }

        /**
         * 用户选项数据
         */
        get userTypeOpts(): OptVo[] {
            return UserStore.filterUserTypeOpts;
        }

        /**
         * 获取上线类型选项
         */
        get upTypeOpts(): OptVo[] {
            let labels: { [key: number]: string } = {};
            if ((this.isHolder || this.isVendor || this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder)) {
                labels[C.USER_TYPE_SOLDER] = "大股东";
            }
            if ((this.isVendor || this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder)) {
                labels[C.USER_TYPE_HOLDER] = "股东";
            }
            if ((this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor)) {
                labels[C.USER_TYPE_VENDOR] = "总代理";
            }
            if (this.isMember
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor || UserStore.isAgent)) {
                labels[C.USER_TYPE_AGENT] = "代理";
            }
            return OptVo.loadListByLabels(labels, C.OPT_VALUE_TYPE_NUMBER);
        }

        /**
         * 上线选项数据
         */
        get upOpts(): OptVo[] {
            if (this.isUpTypeSuperHolder) {
                return UserStore.superHolderOpts;
            } else if (this.isUpTypeHolder) {
                return UserStore.holderOpts;
            } else if (this.isUpTypeVendor) {
                return UserStore.vendorOpts;
            } else if (this.isUpTypeAgent) {
                return UserStore.agentOpts;
            } else {
                return [];
            }
        }

        /**
         * 当前页签的用户类型
         */
        get paneUserType(): number {
            if (CommonUtil.isEmpty(this.activeTabPane)) {
                return 0;
            }
            let tmpArr = this.activeTabPane.split("_");
            if (tmpArr.length !== 2) {
                return 0;
            }
            return Number(tmpArr[1]);
        }

        /**
         * 初始化所属上线
         */
        initUpType() {
            this.upId = "";
            this.upType = "";
        }

        /**
         * 上级类型变化
         */
        async onUpTypeChange() {
            this.upId = "";
        }

        /**
         * 请求用户表格数据
         */
        async refreshTable() {
            this.table.loading = true;
            let params = this.table.params;
            params.userType = this.userType;
            params.upId = this.upId;
            params.upType = this.upType;
            params.reportType = this.reportType;
            let vo = await ReportApi.getReportSummary(params);
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }

        /**
         * 点击用户名跳转上一级
         */
        userClick(username: string) {
            if (this.userType === C.USER_TYPE_MEMBER) {
                return;
            }
            this.upType = this.userType;
            this.activeTabPane = 'userTable_' + (this.userType - 1);
            for (let i = 0; i < this.upOpts.length; ++i) {
                if (this.upOpts[i].label == username) {
                    this.upId = Number(this.upOpts[i].value);
                    break;
                }
            }
            this.refreshTable();
        }

        /**
         * 打开明细界面
         */
        async showDetail(userId: number, type: string) {
            this.detailVisible = true;
            this.detailTable.loading = true;
            this.detailTable.clearRows();
            let params = {
                userType: this.userType,
                userId: userId,
                type: type,
                startTime: this.table.params.startTime,
                endTime: this.table.params.endTime,
            }
            let vo = await ReportApi.getReportDetail(params);
            this.detailTable.setByTableDataVo(vo);
            this.detailTable.loading = false;
        }

        /**
         * 监听当前活跃页签的变化
         */
        @Watch("activeTabPane")
        watchActiveTabPane() {
            this.userType = this.paneUserType;
            this.refreshTable();
        }

        /**
         * 渲染后执行的方法
         */
        mounted() {
            UserStore.refreshOpts();
            this.refreshTable();
        }

        onSizeChange(size: number) {
            this.table.size = size;
            this.refreshTable();
        }

        onPageChange(page: number) {
            this.table.page = page;
            this.refreshTable();
        }

    }
</script>

<style lang="scss" scoped>

</style>
