$MaxWidth: 1200;
$MaxWidthPx: $MaxWidth + px; // 最大宽度

// -------------- START 系统常规颜色
$ColorBgDark: #000000; // 背景颜色：深色
$ColorBg: #333333; // 背景颜色：普通
$ColorBgLight: #000000; // 背景颜色：浅色
$ColorBgYellow: #d2c055; // 背景颜色：黄色

$ColorTextDark: #3a3a3a; // 文字颜色：深色
$ColorTextCommon: #dbd4cc; // 文字颜色 #dbd4cc
$ColorTextLight: #fbb118; // 文字颜色：高亮
$ColorTextLight2: #ff6048; // 文字颜色：高亮2

$ColorTextButton: #000000; // 文字颜色

$ColorLotteryYes: #ee0a24; //已派奖
$ColorLotteryNot: #dbd4cc; //未开奖
$ColorLotteryNotIn: #07c160; //未中奖

$ColorCellInputBg: #111111; // cell 输入框（输入组件）背景颜色

$ColorBtnBgPrimary: $ColorTextLight; // 按钮背景：基础

$ColorPrimary: #1989fa; // 状态颜色：普通（蓝色）
$ColorSuccess: #07c160; // 状态颜色：成功（绿色）
$ColorWarning: #ff976a; // 状态颜色：警告（黄色）
$ColorDanger: #ee0a24; // 状态颜色：危险（红色）
// -------------- END 系统常规颜色
$ColorBorderCommon: #FF5F15; // 边框颜色：普通

/*通用全局样式*/
body {
  margin: 0;
  background: $ColorBgDark;
}

html, body, #app, #app > div {
  height: 100%;
}

#app {
  color: $ColorTextCommon;
}

// 普通标签。一般用于 cell-group 上方
.ga-label {
  color: $ColorTextLight;
  line-height: 30px;
  margin-left: 5px;
  font-size: 14px;

}

//关键字样式显示
.key {
  color: #ff594b;
}


.ga-width-max {
  width: 100%;
}

.van-cell.ga-input {
  color: $ColorTextCommon;
  background: $ColorCellInputBg;
}

// 导出的变量。让 common.css.d.ts 读取
:export {
  MaxWidth: $MaxWidth;
  ColorBgDark: $ColorBgDark;
  ColorBg: $ColorBg;
  ColorBgLight: $ColorBgLight;
  ColorTextCommon: $ColorTextCommon;
  ColorTextLight: $ColorTextLight;
  ColorTextLight2: $ColorTextLight2;
  ColorPrimary: $ColorPrimary;
  ColorSuccess: $ColorSuccess;
  ColorWarning: $ColorWarning;
  ColorDanger: $ColorDanger;
  ColorLotteryYes: $ColorLotteryYes;
  ColorLotteryNot: $ColorLotteryNot;
  ColorLotteryNotIn: $ColorLotteryNotIn;
}
