@import "keyframes";
@import "common";

/* vant ui 组件的样式修改 */

.van-button {
  font-size: 20px;
  color: $ColorTextButton;
  background: $ColorBtnBgPrimary;
  border: $ColorBtnBgPrimary;
  font-weight: 600;
}

.van-button--mini {
  font-size: 14px;
  padding: 0px 5px;
}


.van-button:hover {
  cursor: pointer;
  opacity: 0.8;
  //animation: scale 0.1s 2;
}

.van-cell-group {
  background: $ColorBg;

  .van-cell--clickable:active {
    background: $ColorBgLight;
  }

  .van-button {
    width: 100%;
  }
}

.van-dialog__message--has-title {
  color: #d0d1d3; //#7d7e80
}

//.van-nav-bar {
//  .van-nav-bar__title {
//    color: #ffffff;
//  }
//}
//


// 去除 vant 的白线
[class*="van-hairline"]::after,
.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border-color: $ColorTextLight2;
}

//常规dialog
.van-dialog {
  background: $ColorBgDark;

  .van-dialog__header {
    color: $ColorTextCommon;
  }

  .van-dialog__message--has-title {
    border-bottom: 0.5px $ColorTextLight2 solid;
  }

  // 按钮
  .van-button {
    color: $ColorTextCommon;
    background: $ColorBgDark;
  }

  // 确认输入框
  .van-button.van-dialog__confirm {
    color: $ColorTextLight;
  }
}

.van-grid {
  .van-grid-item {
    .van-grid-item__content {
      padding: 0;
      background: none;
    }
  }
}

.van-tabbar {
  background: $ColorBgDark;
  max-width: $MaxWidthPx;
  height: 80px;

  .van-tabbar-item {
    color: $ColorTextCommon;

    .van-icon::before {
      color: $ColorTextCommon;
    }
  }

  .van-tabbar-item.van-tabbar-item--active {
    color: $ColorTextLight;

    .van-icon::before {
      color: $ColorTextLight;
    }
  }

  .van-tabbar-item__icon .van-icon {
    font-size: 32px;
  }

  .van-tabbar-item__text {
    font-size: 14px;
  }
}

.van-nav-bar {
  background: $ColorBgDark;
  color: $ColorTextCommon;

  .van-icon {
    color: $ColorTextLight;
  }

  .van-nav-bar__title {
    color: $ColorTextCommon;
  }
}

.van-nav-bar__text {
  color: #dbd4cc;
}

.van-count-down, .van-divider {
  color: $ColorTextCommon;
}

.van-collapse {
  background: $ColorBg;

  .van-collapse-item__content {
    background: $ColorBgDark;
  }
}

.van-goods-action {
  background: $ColorBg;

  .van-goods-action-icon {
    background: $ColorBg;
    color: $ColorTextCommon;

    .van-icon {
      color: $ColorTextCommon;
    }
  }
}

.van-cell {
  color: $ColorTextCommon;
  background: $ColorCellInputBg;

  .van-cell__title {
    color: white;
  }

  .van-cell__value {
    color: $ColorTextCommon;
  }

  // 输入框颜色
  .van-field__control {
    color: $ColorTextCommon;
  }
}

.van-cell--clickable:active {
  background: $ColorBgLight;
}

.van-datetime-picker {
  .van-picker__toolbar {
    background: $ColorBg;

    .van-picker__cancel,
    .van-picker__confirm {
      color: $ColorTextLight;
    }
  }

  .van-picker-column {
    background: $ColorBgLight;

    .van-picker-column__item {
      color: $ColorTextCommon;
    }
  }

  .van-picker__mask {
    $Color1: rgba($ColorBgDark, 0.9);
    $Color2: rgba($ColorBg, 0.4);

    background-image: linear-gradient(180deg, $Color1, $Color2), linear-gradient(0deg, $Color1, $Color2);
  }
}

.van-tag--plain {
  background: none;
}

.van-popup {
  background: $ColorBg;
}

.van-popup.van-notify--primary {
  background: $ColorPrimary;
}

.van-popup.van-notify--success {
  background: $ColorSuccess;
}

.van-popup.van-notify--warning {
  background: $ColorWarning;
}

.van-popup.van-notify--danger {
  background: $ColorDanger;
}

.van-tree-select__nav {
  background: $ColorBgDark;
}

.van-tree-select__content {
  background: $ColorBg;
}

.van-sidebar-item {
  color: $ColorTextCommon;
  background: $ColorBgLight;
}

.van-sidebar-item:active {
  background: $ColorBgLight;
}

.van-sidebar-item--select {
  color: $ColorTextCommon;
  background: $ColorBg;
  border-color: $ColorTextLight2;
}

.van-sidebar-item--select:active {
  background: $ColorBg;
}

.van-tree-select__item--active {
  color: $ColorTextLight;
}

.van-tree-select__nav-item--active {
  background-color: $ColorBg;
  border-color: $ColorTextLight2;
}


.van-list {
  margin-left: 5px;
}

