<template>
    <div class="app-container">
        <div class="pay-search-group">
            <el-input v-model="table.params.username" @keyup.native.enter="requestTable(true)" size="mini" placeholder="登录人搜索" style="width: 200px;"></el-input>
            <div style="display: inline-block;white-space: nowrap;margin-right: 10px;margin-left: 10px;">
                <el-date-picker v-model="table.params.startTime" value-format="yyyy-MM-dd" type="date" placeholder="开始时间" size="mini"></el-date-picker>
                -
                <el-date-picker v-model="table.params.endTime" value-format="yyyy-MM-dd" type="date" placeholder="结束时间" size="mini"></el-date-picker>
            </div>
            <el-button @click="requestTable(true)" type="primary" size="mini" icon="el-icon-search" :loading="table.loading">搜索</el-button>
            <el-button @click="requestTable(true)" icon="el-icon-refresh" circle :loading="table.loading"></el-button>
        </div>
        <el-table :data="table.rows" v-loading="table.loading" stripe>
            <el-table-column label="编号" prop="id"></el-table-column>
            <el-table-column label="登录人" prop="username"></el-table-column>
            <el-table-column label="IP地址" prop="ip"></el-table-column>
            <el-table-column label="登录类型" prop="login_type_label"></el-table-column>
            <el-table-column label="时间" prop="record_time"></el-table-column>
        </el-table>
        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
                       layout="total, sizes, prev, pager, next, jumper"></el-pagination>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import LogApi from "@/api/LogApi";
    import TableVo from "@/models/vos/TableVo";
    import FormVo from "@/models/vos/FormVo";

    /**
     * 账号表格数据封装
     */
    @Component({})
    export default class ReportSummaryTable extends Vue {
        public form = new FormVo({});
        /**
         * 表格数据
         */
        public table = new TableVo({
            username: "",
        });

        /**
         * 渲染后执行的方法
         */
        mounted() {
            this.onSizeChange(10);
        }

        /**
         * 请求表格数据
         */
        public async requestTable(resetPage = false) {
            this.table.loading = true;
            if (resetPage) {
                this.table.page = 1;
            }
            let vo = await LogApi.getLoginLog(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }

        onSizeChange(size: number) {
            this.table.size = size;
            this.requestTable();
        }

        onPageChange(page: number) {
            this.table.page = page;
            this.requestTable();
        }

    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
