<template>
    <div class="app-container">
        <div class="filter-container">
            <div class="filter-container" style="padding-bottom: 0px;padding-top: 10px;">
                <el-button @click="addShooClick" type="primary" icon="el-icon-plus">添加商品</el-button>
                <el-button @click="requestTable" icon="el-icon-refresh" circle></el-button>
            </div>
        </div>
        <el-table :data="table.rows" v-loading="table.loading" stripe>
            <el-table-column label="编号" prop="id"></el-table-column>
            <el-table-column label="商品名" prop="name"></el-table-column>
            <el-table-column label="兑换积分" prop="credits"></el-table-column>
            <el-table-column label="奖励分" prop="bonus_points"></el-table-column>
            <el-table-column label="更新时间" prop="update_date"></el-table-column>
            <el-table-column label="操作">
                <template #default="scope">
                    <el-button @click="shopEdit(scope.row)" size="mini">修改</el-button>
                    <el-button @click="shopDelete(scope.row)" size="mini">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
                       layout="total, sizes, prev, pager, next, jumper"></el-pagination>

        <!--添加|修改的弹窗-->
        <el-dialog :title="dialogTitle" :visible.sync="form.visible" :close-on-click-modal="false">
            <el-form @submit.native.prevent label-width="120px">
                <el-form-item label="商品名称">
                    <el-input v-model="form.params.name"></el-input>
                </el-form-item>
                <el-form-item label="兑换积分">
                    <el-input v-model="form.params.credits"></el-input>
                </el-form-item>
                <el-form-item label="奖励分">
                    <el-input v-model="form.params.bonus_points"></el-input>
                </el-form-item>
                <el-form-item label="描述">
                    <el-input v-model="form.params.content" type="textarea" :rows="3"></el-input>
                </el-form-item>
                <el-form-item label="图片">
                    <el-upload :action="uploadMediaUrl" name="media" :on-success="onIdCardNationalSuccess" :show-file-list="false">
                        <template v-if="vo.idCardNational !== ''">
                            <el-button>重新上传</el-button>
                        </template>
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>

            <template #footer>
                <el-button @click="form.visible = false">取消</el-button>
                <el-button @click="shopSubmitClick" type="primary">确认</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import C from "@/constants/C";
    import HttpUtil from "@/utils/HttpUtil";
    import UserApi from "@/api/UserApi";
    import TableVo from "@/models/vos/TableVo";
    import WindowUtil from "@/utils/WindowUtil";
    import CommonUtil from "@/utils/CommonUtil";
    import FormVo from "@/models/vos/FormVo";
    import ResponseVo from "@/models/vos/ResponseVo";

    /**
     * 账号表格数据封装
     */
    @Component({})
    export default class ReportSummaryTable extends Vue {
        imageUrl: string = '';
        public form = new FormVo({
            id: "",
            name: "",
            credits: "",
            bonus_points: "",
            content: "",
            images: "",
        });

        /**
         * 表单类型是否是添加
         */
        get isFormTypeAdd(): boolean {
            return this.form.type === C.FORM_TYPE_ADD;
        }

        /**
         * 表单类型是否是修改
         */
        get isFormTypeMod(): boolean {
            return this.form.type === C.FORM_TYPE_MOD;
        }
        /**
         * 弹窗标题
         */
        get dialogTitle(): string {
            let dialogTitle = "";
            if (this.isFormTypeAdd) {
                dialogTitle = "添加";
            } else if (this.isFormTypeMod) {
                dialogTitle = "修改";
            }
            return dialogTitle + '商品';
        }
        setType(type: number){
            this.form.setType(type);
        }
        /**
         * 组件内部的 wxMchVo 的拷贝版本（自动同步）
         */
        vo: any = {
            idCardNational: "",
        };
        /**
         * 表格数据
         */
        public table = new TableVo({
            user_name: "",
        });

        /**
         * 上传图片
         */
        get uploadMediaUrl(): string {
            return HttpUtil.getUrl("user/upload");
        }
        /**
         * 图片上传成功
         */
        onIdCardNationalSuccess(response: any, file: any, fileList: any) {
            let vo = new ResponseVo(response);
            if (vo.isDone()) {
                WindowUtil.messageSuccess(vo.message);
                this.form.params.images = vo.d;
                this.vo.idCardNational = vo.data("mediaId");
                this.imageUrl = URL.createObjectURL(file.raw);
            } else {
                WindowUtil.messageError(vo.message);
            }
        }
        /**
         * 渲染后执行的方法
         */
        async mounted() {
            await this.onSizeChange(10);
            await this.requestTable();
        }

        /**
         * 提交表单
         */
        public async shopSubmitClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;
            let params = CommonUtil.copy(this.form.params);
            let isDone = await UserApi.addShop(params);
            if (isDone) {
                this.form.reset();
                this.imageUrl = '';
                this.form.visible = false;
                await this.requestTable();
            }
            this.form.loading = false;
        }

        /**
         * 请求表格数据
         */
        public async requestTable(resetPage = false) {
            this.table.loading = true;
            if (resetPage) {
                this.table.page = 1;
            }
            let vo = await UserApi.getTable(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }

        async onSizeChange(size: number) {
            this.table.size = size;
            await this.requestTable();
        }

        async onPageChange(page: number) {
            this.table.page = page;
            await this.requestTable();
        }

        /**
         * 添加商品
         */
        public addShooClick() {
            this.form.reset();
            this.setType(1);
            this.form.visible = true;
        }

        /**
         * 编辑商品
         */
        shopEdit(shopVo: any) {
            this.form.params.id = shopVo.id;
            this.form.params.name = shopVo.name;
            this.form.params.credits = shopVo.credits;
            this.form.params.bonus_points = shopVo.bonus_points;
            this.form.params.content = shopVo.content;
            this.form.type = 2;
            this.form.visible = true;
        }
        /**
         * 删除
         */
        shopDelete(shopVo: any) {
            if (this.form.loading) {
                return;
            }
            this.form.loading = true;
            HttpUtil.post("user/delete-shop", {id: shopVo.id}).then((vo) => {
                if (vo.isDone()) {
                    this.form.visible = false;
                    this.requestTable();
                }
            }).finally(() => {
                this.form.loading = false;
            });
        }
    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>
