// 通用flex布局（从左往右布局，空间不足则整块挤到下方）
.ga-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

$ColorLotteryYes: #ee0a24; //已派奖
$ColorLotteryNot: #dbd4cc; //未开奖
$ColorLotteryNotIn: #07c160; //未中奖
