<template>
    <div class="index">
        <van-swipe :autoplay="3000" indicator-color="white">
            <van-swipe-item><img class="swipe" :src="swipe_picture1"></van-swipe-item>
            <van-swipe-item><img class="swipe" :src="swipe_picture2"></van-swipe-item>
        </van-swipe>

        <van-row>
            <van-col span="12"><van-button icon="manager-o"></van-button><div style="float: right;font-size: 21px;margin-right: 23px;">我的档案</div></van-col>
            <van-col span="12"><van-button icon="point-gift-o"></van-button><div style="float: right;font-size: 21px;margin-right: 56px;">分享</div></van-col>
        </van-row>

        <div class="case" style="width: 100%">
            <div class="case-left" style="width: 46%;margin: 10px 2%;">
                <div class="case-left-img"><img style="width: 100%;" class="swipe" :src="swipe_picture3"></div>
                <div class="case-left-img"><img style="width: 100%;" class="swipe" :src="swipe_picture5"></div>
            </div>
            <div class="case-right" style="width: 46%;margin: 10px 2%;">
                <div class="case-left-img"><img style="width: 100%;" class="swipe" :src="swipe_picture4"></div>
                <div class="case-left-img"><img style="width: 100%;" class="swipe" :src="swipe_picture6"></div>
            </div>
        </div>
        <!--分割线-->
        <div style="float: left; width: 100%;">
            <li style="height: 21px; line-height: 1px; margin-top: 10px; text-align: center; font-size: 20px">公告区</li>
        </div>
        <template>
            <div class="notice">
                <ul>
                    <li>1、健康中国首版网页终于上线啦！！</li>
                    <li>2、健康中国首版网页终于上线啦！！</li>
                    <li>3、健康中国首版网页终于上线啦！！</li>
                </ul>
            </div>
        </template>
        <index-foot></index-foot>
    </div>
</template>


<script lang="ts">
    /**
     * 此组件有keepAlive效果
     */
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import CommonScss from "@/assets/css/common.scss";
    import IndexFoot from "@/pages/index/view/IndexFoot.vue";

    @Component({
        components: {IndexFoot},
    })
    export default class Home extends Vue {

        get swipe_picture1() {
            return require("@/assets/img/swipe/6.png");
        }
        get swipe_picture2() {
            return require("@/assets/img/swipe/7.png");
        }
        get swipe_picture3() {
            return require("@/assets/img/swipe/0.png");
        }
        get swipe_picture4() {
            return require("@/assets/img/swipe/1.png");
        }
        get swipe_picture5() {
            return require("@/assets/img/swipe/2.png");
        }
        get swipe_picture6() {
            return require("@/assets/img/swipe/3.png");
        }
        /**
         * 亮黑色
         */
        get colorActiveLight(): string {
            return CommonScss.ColorBgLight;
        }
    }
</script>

<style lang="scss">
    @import "./../../../assets/css/common";

    .index {
        li {list-style-type:none;}
        .van-swipe {
            img {
                width: 100%;
                height: 200px;
            }
        }
        .van-row {
            .van-col--12 {
                width: 46%;
                margin: 10px 2%;
                height: 88px;
                line-height: 88px;
                background-color: rgba(0, 0, 0, 0.5);
                .van-button {
                    margin-left: 10px;
                    background: none;
                    color: #fbb118;
                    font-size: 29px;
                }
            }
        }
        .case {
            .case-left {
                float: left;
            }
            .case-right {
                float: left;
            }
            .case-left-img {
                margin-bottom: 10px;
            }
        }
        .notice {
            width: 100%;
            float: left;
            ul {
                margin: 10px;
                li {
                    height: 25px;
                }
            }
        }
        .home-fast {
            padding: 7px 0;
            /* background: $ColorBg; */

            .van-grid-item {
                cursor: pointer;

                .van-grid-item__icon {
                    color: $ColorTextCommon;
                }

                .van-grid-item__text {
                    color: $ColorTextCommon;
                    font-size: 14px;
                    margin-top: 0;
                }
            }

            .sign-succeed {
                .van-grid-item__icon, .van-grid-item__text {
                    color: $ColorTextLight;
                }
            }

            .van-grid-item:hover {
                .van-grid-item__icon {
                    color: $ColorTextLight;
                }

                .van-grid-item__text {
                    color: $ColorTextLight;
                }
            }
        }

        .home-system {
            padding: 5px 10px;
            background: $ColorBgDark;

            .van-col {
                font-size: 14px;
                text-align: center;
                color: $ColorTextCommon;

            }
        }

        .home-stat {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 136px;
            background: $ColorBgDark;

            .home-stat--left,
            .home-stat--right {
                display: flex;
                padding: 0 10px;
                width: 33%;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                height: 100%;

                .home-stat--title,
                .home-stat--label,
                .home-stat--value {
                    display: inline-block;
                }

                .home-stat--title,
                .home-stat--label {
                    color: $ColorTextCommon;
                }

                .home-stat--title {
                    font-size: 16px;
                }

                .home-stat--label {
                    font-size: 14px;
                }

                .home-stat--value {
                    color: $ColorTextLight;
                    font-weight: bold;
                }
            }

            .home-stat--center {
                width: 33%;
                text-align: center;

                .home-stat--vip-label {
                    position: relative;
                    top: -10px;
                    width: 100%;
                }

                .home-stat--vip-label2 {
                    position: relative;
                    top: -2px;
                    width: 100%;

                    .van-button {
                        background: #f98e2a;
                    }
                }
            }
        }

        .home-game-list {
            .van-image {
                /** box-shadow: 4px 4px 5px #666; */
                border-radius: 15px;
                overflow: hidden;
            }
        }
    }
</style>
