<template>
    <div class="index-foot">
        <van-tabbar style="background-color: rgba(0, 0, 0, 0.5); border: none;" v-model="active" route>
            <van-tabbar-item icon="wap-home" to="/">首页</van-tabbar-item>
            <van-tabbar-item icon="shopping-cart-o" to="/cash-record">商城</van-tabbar-item>
            <van-tabbar-item icon="user-o" to="/more">个人</van-tabbar-item>
        </van-tabbar>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';

    @Component({
        components: {},
    })
    export default class IndexFooter extends Vue {
        /**
         * 当前激活的页面
         */
        active: number = 0;
    }
</script>

<style lang="scss" scoped>
</style>
