<template>
    <div class="app-container">
        <div class="filter-container">
        </div>

        <el-tabs v-model="activeTabPane">
            <el-tab-pane
                    key="5"
                    label="管理员"
                    name="'userTable_' + 5"
                    lazy>
            </el-tab-pane>


            <div class="account-manage-user-table">
                <div class="filter-container">
                    <template >
                        所属
                        <el-input v-model="table.params.username" @keyup.native.enter="requestUserRowTable" placeholder="用户名搜索" style="width: 200px;"></el-input>
                    </template>
                    <template v-if="table.loading">
                        <el-button icon="el-icon-loading" circle></el-button>
                    </template>
                    <template v-else>
                        <el-button @click="requestUserRowTable" icon="el-icon-refresh">搜索</el-button>
                        <el-button @click="onAddClick" icon="el-icon-circle-plus-outline">添加{{ userTypeLabel }}</el-button>
                    </template>
                </div>
                <el-table :data="table.rows" v-loading="table.loading" stripe>
                    <!--<el-table-column >-->
                        <!--<template #default="props">-->
                            <!--<AccountManageDirectMemberTable :up-id="props.row.userId" :up-type="props.row.userType"></AccountManageDirectMemberTable>-->
                        <!--</template>-->
                    <!--</el-table-column>-->
                    <el-table-column label="用户名">
                        <template #default="props">
                            <template >
                                <el-link @click="onNameClick(props.row)">{{ props.row.username }}</el-link>
                            </template>
                            <!--<template >{{ props.row.username }}</template>-->
                        </template>
                    </el-table-column>
                    <el-table-column label="昵称" prop="name"></el-table-column>
                    <el-table-column label="注册时间" prop="registerDate"></el-table-column>
                    <el-table-column label="最后登录时间" prop="loginTime"></el-table-column>
                    <!--            <el-table-column label="最近登录IP" prop="loginIp"></el-table-column>-->
                    <el-table-column label="在线" width="80px">
                        <template #default="props">
                            <el-tag v-show="props.row.isLogin" :key="props.$index + 'online'" type="success">在线</el-tag>
                            <el-tag v-show="!props.row.isLogin" :key="props.$index + 'offline'" type="danger">离线</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column v-model="isShowActiveColumn" label="状态" width="80px">
                        <template #default="props">
                            <el-tooltip content="禁用后，账号会被踢出且不能登录">
                                <el-switch v-model="props.row.active" @change="onActiveChange(props.row)"></el-switch>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" width="180px">
                        <template #default="props">
                            <el-button @click="onModClick(props.row)" icon="el-icon-edit-outline">修改</el-button>
                            <el-button icon="el-icon-delete" @click.native="onDelClick(props.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <!--<AccountManageUserForm ref="userForm" :default-up-id="defaultUpId" :default-up-type="upType" @refresh="requestUserRowTable"></AccountManageUserForm>-->

            </div>

            <!--添加|修改管理员账号弹窗-->
            <el-dialog title="添加管理员" :visible.sync="form.visible" :close-on-click-modal="false">
                <el-form @submit.native.prevent label-width="120px">
                    <el-row >
                        <el-col :sm="12">
                            <el-form-item label="用户名">
                                <el-input v-model="form.params.username" :disabled="isFormTypeMod" :minlength="3" :maxlength="100"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :sm="12">
                            <el-form-item label="密码">
                                <el-input v-model="form.params.password" show-password :placeholder="formPasswordPlaceholder"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :sm="12">
                            <el-form-item label="昵称">
                                <el-input v-model="form.params.name" :maxlength="100"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :sm="12">
                            <el-form-item label="备注">
                                <el-input v-model="form.params.remark" type="textarea" :rows="1" :maxlength="200" show-word-limit></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    </el-form>
                <template #footer>
                    <el-button @click="form.visible = false" v-loading="form.loading">取消</el-button>
                    <el-button @click="onSubmitClick" type="primary" v-loading="form.loading">确认</el-button>
                </template>

            </el-dialog>

        </el-tabs>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import {UserStore} from "@/store/modules/UserStore";
    import OptVo from "@/models/vos/OptVo";
    import CommonUtil from "@/utils/CommonUtil";
    import UserUtil from "@/utils/UserUtil";
    import C from "@/constants/C";
    import WindowUtil from "@/utils/WindowUtil";
    import UserApi from "@/api/UserApi";
    import AccountManageUserForm from "@/views/account-manage/AccountManageUserForm.vue";
    import FormVo from "@/models/vos/FormVo";
    import TableVo from "@/models/vos/TableVo";
    import {ConstStore} from "@/store/modules/ConstStore";
    import AccountManageDirectMemberTable from "@/views/account-manage/AccountManageDirectMemberTable.vue";
    import EncryptUtil from "@/utils/EncryptUtil";

    @Component({
        components: {AccountManageDirectMemberTable,AccountManageUserForm}
    })
    export default class AccountUserAdmin extends Vue {

        /**
         * 密码框的提示
         */
        get formPasswordPlaceholder(): string {
            return this.isFormTypeMod ? "留空代表不修改密码" : "";
        }
        /**
         * 当前激活的标签名字
         */
        public activeTabPane: string = "userTable_1";

        /**
         * 表单类型是否是添加
         */
        get isFormTypeAdd(): boolean {
            return this.form.type === C.FORM_TYPE_ADD;
        }

        /**
         * 当前表格显示的用户类型：管理员
         */
        get isAdmin(): boolean {
            return this.userType === C.USER_TYPE_ADMIN;
        }
        /**
         * 当前表格显示的用户类型的标签
         */
        get userTypeLabel(): string {
            return ConstStore.userTypeLabels.hasOwnProperty(this.userType) ? ConstStore.userTypeLabels[this.userType] : "";
        }

        /**
         * 是否显示激活状态的列
         */
        get isShowActiveColumn(): boolean {
            return UserStore.userType > this.userType;
        }

        /**
         * 用户选项数据
         */
        public get userTypeOpts(): OptVo[] {
            return UserStore.filterUserTypeOpts;
        }
        /**
         * 当前登录用户的用户类型
         */
        public get userType(): number {
            return UserStore.userType;
        }
        /**
         * 当前登录用户的id
         */
        public get userId(): number {
            return UserStore.id;
        }
        /**
         * 当前页签的用户类型
         */
        // public get paneUserType(): number {
        //     if (CommonUtil.isEmpty(this.activeTabPane)) {
        //         return 0;
        //     }
        //     let tmpArr = this.activeTabPane.split("_");
        //     if (tmpArr.length !== 2) {
        //         return 0;
        //     }
        //     return Number(tmpArr[1]);
        // }

        /**
         * 监听当前活跃页签的变化
         */
        @Watch("activeTabPane")
        public watchActiveTabPane() {
            this.refreshTable();
        }


        /**
         * 刷新表格数据
         * @param upType （可选。如果要填需要两个都填）表格的上级类型
         * @param upId （可选。如果要填需要两个都填）表格的上级id。默认是看到登录账号可以看到的所有
         */
        public refreshTable(upType: number|string = "", upId: number|string = "") {
            setTimeout(() => {
                let upType = C.USER_TYPE_ADMIN;
                let upId = 1;
                let tmpArr = (this.$refs[this.activeTabPane] as Array<AccountUserAdmin>);
                if (tmpArr === undefined || tmpArr.length === 0) {
                    return;
                }
                let userTableVue = tmpArr[0];
                // @ts-ignore
                userTableVue.refresh(upType, upId);
            });
        }


        //////////////////////////////////////////////////////////////////////////////////////////
        public form = new FormVo({
            userId: 0,
            credit: 0,
            vipLevelLabel: "",
            targetVipLevelLabel: "",
        });

        /**
         * 上线用户类型。用于筛选上线用户
         */
        upType: number | string = "";
        /**
         * 表格数据
         */
        table = new TableVo({
            // upId: this.upId,
            userId: this.userId,
            userType: this.userType,
            username: "",
        });


        // ----------- 提供对外的方法 START -----------
        // /**
        //  * 刷新表单数据（重新请求）
        //  */
        refresh(upType: number | string = "", upId: number | string = "") {
            if (!CommonUtil.isEmpty(upType)) {
                this.upType = upType;
            }
            if (!CommonUtil.isEmpty(upId)) {
                this.$set(this.table.params, "upId", upId);
            }
            this.requestUserRowTable();
        }
        // ----------- 提供对外的方法 END -----------
        /**
         * 切换页签事件（让外部组件切换到对应的页签）
         */
        async eventSwitchPane(upType: number, upId: number | string = "") {
            this.$emit("switch-pane", upType, upId);
        }



        // @Watch("upId")
        // watchUpId(upId: number) {
        //     this.table.params.upId = upId;
        // }
        // @Watch("userType")
        // watchUserType(userType: number) {
        //     this.table.params.userType = userType;
        // }


        /**
         * 渲染后执行的方法
         */
        mounted() {
            UserStore.refreshOpts();
            this.refreshTable();

            this.autoSelectUpType();
            // 管理员 或 表格显示用户类型 等于 登录用户类型
            if (UserStore.isAdmin || this.userType === UserStore.userType) {
                this.table.params.upId = "";
            }

            this.requestUserRowTable();
        }

        /**
         * 自动选择上线类型
         */
        autoSelectUpType() {
            if (CommonUtil.isEmpty(this.upType) && !UserStore.isAdmin) {
                this.upType = UserStore.userType;
            }
        }

        /**
         * 请求用户表格数据
         */
        async requestUserRowTable() {
            this.table.loading = true;
            let vo = await UserApi.getMemberManageList(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }
        /**
         * 表单类型是否是修改
         */
        get isFormTypeMod(): boolean {
            return this.form.type === C.FORM_TYPE_MOD;
        }

        /**
         * 刷新事件
         */
        eventRefresh() {
            this.$emit("refresh");
        }

        /**
         * 提交表单按钮点击
         */
        async onSubmitClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;
            if (this.isFormTypeAdd) {
                let params = CommonUtil.copy(this.form.params);
                params.password = EncryptUtil.sha256(params.password);
                let isDone = await UserApi.initAdmin(params);

                if (isDone) {
                    this.form.visible = false;
                    this.eventRefresh();
                }
            } else if (this.isFormTypeMod) {
                let params = CommonUtil.copy(this.form.params);
                if (!CommonUtil.isEmpty(params.password)) {
                    params.password = EncryptUtil.sha256(params.password);
                }
                let isDone = await UserApi.mod(params);
                if (isDone) {
                    this.form.visible = false;
                    this.eventRefresh();
                }
            } else {
                WindowUtil.messageError("未知的提交类型");
            }
            this.form.loading = false;
        }


        /**
         * 请求用户表单数据
         */
        async requestUserForm(userId: number) {
            this.form.loading = true;
            this.form.reset();
            let userForm = await UserApi.getUserForm({userId});
            if (userForm !== null) {
                this.form.params = CommonUtil.copy(userForm);
            } else {
                this.form.params.id = userId;
            }
            this.form.loading = false;
        }

        /**
         * 添加按钮点击
         */
        async onAddClick() {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_ADD);
            this.form.visible = true;
        }
        /**
         * 修改点击
         */
        async onModClick(userRowVo: any) {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_MOD);
            this.requestUserForm(userRowVo.userId);
            this.form.visible = true;
        }

        /**
         * 行的名字被点击
         * @param rowVo
         */
        async onNameClick(rowVo: any) {
            this.eventSwitchPane(rowVo.userType, rowVo.userId);
        }
        /**
         * 删除用户
         */
        async onDelClick(userRowVo: any) {
            let moreLabel = "";

            if (!await WindowUtil.confirm("是否删除【" + userRowVo.name + "】？" + moreLabel)) {
                return;
            }
            this.table.loading = true;
            await UserApi.del(userRowVo.userId);
            await this.requestUserRowTable();
        }
        /**
         * 切换用户激活状态
         * @param userRowVo
         */
        async onActiveChange(userRowVo: any) {
            let userId = userRowVo.userId;
            let active = userRowVo.active;
            let done = UserApi.modActive(userId, active);
            if (done) {
                this.requestUserRowTable();
            }
        }



    }
</script>

<style lang="scss" scoped>

</style>
