<template>
    <div class="account-manage-user-table">
        <div class="filter-container">
            <el-tag>{{ userTypeLabel }}列表</el-tag>
            <template v-if="isShowSearchSelect">
                所属
                <el-select
                    v-model="upType"
                    filterable
                    clearable
                    placeholder="筛选用户类型"
                    @change="onUpTypeChange">
                    <el-option v-for="opt in upTypeOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                </el-select>
                <el-select
                    v-model="table.params.upId"
                    filterable
                    clearable
                    placeholder="所有"
                    @change="requestUserRowTable">
                    <el-option v-for="opt in upOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                </el-select>
                <el-input v-model="table.params.username" @keyup.native.enter="requestUserRowTable" placeholder="用户名搜索" style="width: 200px;"></el-input>
            </template>
            <GaCountdown v-loading="table.loading" :second="5" @finished="requestUserRowTable"></GaCountdown>
            <el-button v-show="table.loading" icon="el-icon-loading" circle></el-button>
            <el-button v-show="!table.loading" icon="el-icon-refresh" @click="requestUserRowTable">搜索</el-button>
            <el-button v-show="!table.loading" icon="el-icon-circle-plus-outline" @click="onAddClick">添加{{ userTypeLabel }}</el-button>
        </div>
        <el-table :data="table.rows" stripe>
            <el-table-column v-if="hasChildUserType" type="expand">
                <template #default="props">
                    <AccountManageDirectMemberTable :up-id="props.row.userId" :up-type="props.row.userType"></AccountManageDirectMemberTable>
                </template>
            </el-table-column>
            <el-table-column label="用户名">
                <template #default="props">
                    <template v-if="hasChildUserType">
                        <el-link @click="onNameClick(props.row)">{{ props.row.username }}</el-link>
                    </template>
                    <template v-else>{{ props.row.username }}</template>
                </template>
            </el-table-column>
            <el-table-column label="昵称" prop="name"></el-table-column>
            <el-table-column label="信用额度" prop="credit"></el-table-column>
            <el-table-column label="VIP等级" prop="vipLevelLabel"></el-table-column>
            <!--<el-table-column v-show="isShowUpColumns" label="占成" prop="fractionMax"></el-table-column>-->
            <!--<el-table-column v-show="isShowUpColumns" label="上线占成" prop="fractionUp"></el-table-column>-->
            <el-table-column v-show="isShowUpColumns" label="上线">
                <template #default="props">{{ props.row.upTypeLabel }} {{ props.row.upName }}</template>
            </el-table-column>
            <el-table-column label="注册时间" prop="registerDate"></el-table-column>
            <el-table-column label="最后登录时间" prop="loginTime"></el-table-column>
<!--            <el-table-column label="最近登录IP" prop="loginIp"></el-table-column>-->
            <el-table-column label="在线" width="80px">
                <template #default="props">
                    <el-tag v-show="props.row.isLogin" :key="props.$index + 'online'" type="success">在线</el-tag>
                    <el-tag v-show="!props.row.isLogin" :key="props.$index + 'offline'" type="danger">离线</el-tag>
                </template>
            </el-table-column>
            <el-table-column v-if="isShowActiveColumn" label="状态" width="80px">
                <template #default="props">
                    <el-tooltip content="禁用后，账号会被踢出且不能登录">
                        <el-switch v-model="props.row.active" @change="onActiveChange(props.row)"></el-switch>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column v-if="isShowOperatorColumn" label="操作" align="center" width="180px">
                <template #default="props">
                    <el-button v-show="isShowMod" icon="el-icon-edit-outline" @click="onModClick(props.row)">修改</el-button>
                    <el-dropdown>
                        <el-button>更多<i class="el-icon-arrow-down el-icon--right"></i></el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-show="isShowUpdateBank" icon="el-icon-edit-outline" @click.native="onBackClick(props.row)">修改银行信息</el-dropdown-item>
                            <el-dropdown-item v-show="isShowChangeCredit" icon="el-icon-bank-card" @click.native="onCreditClick(props.row)">加/扣款</el-dropdown-item>
                            <el-dropdown-item v-show="isShowVipApplyFor" icon="el-icon-medal-1" @click.native="onVipClick(props.row)">VIP等级申请</el-dropdown-item>
                            <el-dropdown-item v-show="isShowDelete" icon="el-icon-delete" @click.native="onDelClick(props.row)">删除</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>

        <AccountManageUserForm ref="userForm" :default-up-id="defaultUpId" :default-up-type="upType" @refresh="requestUserRowTable"></AccountManageUserForm>

        <!--VIP等级申请的弹窗-->
        <el-dialog :title="dialogTitle" :visible.sync="form.visible" :close-on-click-modal="false">
            <el-form @submit.native.prevent label-width="120px">
                <el-form-item label="当前会员信用额">
                    <el-input v-model="form.params.credit" disabled="false"></el-input>
                </el-form-item>
                <el-form-item label="当前会员等级">
                    <el-input v-model="form.params.vipLevelLabel" disabled="false"></el-input>
                </el-form-item>
                <el-form-item label="可申请等级">
                    <el-input v-model="form.params.targetVipLevelLabel" disabled="false"></el-input>
                </el-form-item>
            </el-form>

            <template #footer>
                <el-button @click="form.visible = false">取消</el-button>
                <el-button @click="onSubmitClick" type="primary">确认</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import C from "@/constants/C";
    import UserApi from "@/api/UserApi";
    import TableVo from "@/models/vos/TableVo";
    import {ConstStore} from "@/store/modules/ConstStore";
    import AccountManageUserForm from "@/views/account-manage/AccountManageUserForm.vue";
    import CommonUtil from "@/utils/CommonUtil";
    import {UserStore} from "@/store/modules/UserStore";
    import AccountManageDirectMemberTable from "@/views/account-manage/AccountManageDirectMemberTable.vue";
    import OptVo from "@/models/vos/OptVo";
    import WindowUtil from "@/utils/WindowUtil";
    import FormVo from "@/models/vos/FormVo";
    import AccountManageBankForm from "@/views/account-manage/AccountManageBankForm.vue";
    import GaCountdown from "@/components/Ga/GaCountdown.vue";

    /**
     * 账号表格数据封装
     */
    @Component({
        components: {GaCountdown, AccountManageDirectMemberTable, AccountManageUserForm}
    })
    export default class AccountManageUserTable extends Vue {
        public form = new FormVo({
            userId: 0,
            credit: 0,
            vipLevel: 0, //会员当前VIP等级
            vipLevelLabel: "",
            targetVipLevel: 0, //会员目标VIP等级
            targetVipLevelLabel: "",
        });
        /**
         * 上线用户id
         */
        @Prop({required: true, type: Number})
        upId!: number;
        /**
         * 当前显示的用户类型
         */
        @Prop({required: true, type: Number})
        userType!: number;
        /**
         * 默认上线类型
         */
        @Prop({required: false, type: Number, default: 0})
        defaultUpType!: number;


        /**
         * 上线用户类型。用于筛选上线用户
         */
        upType: number | string = "";
        /**
         * 表格数据
         */
        table = new TableVo({
            upId: this.upId,
            userType: this.userType,
            username: "",
        });


        /**
         * 弹窗标题
         */
        get dialogTitle(): string {
            return '会员VIP等级申请';
        }

        // ----------- 提供对外的方法 START -----------
        /**
         * 刷新表单数据（重新请求）
         */
        refresh(upType: number | string = "", upId: number | string = "") {
            if (upType !== "") {
                this.upType = upType;
            }
            if (upId !== "") {
                this.$set(this.table.params, "upId", upId);
            }
            this.requestUserRowTable();
        }
        // ----------- 提供对外的方法 END -----------
        /**
         * 切换页签事件（让外部组件切换到对应的页签）
         */
        async eventSwitchPane(upType: number, upId: number | string = "") {
            this.$emit("switch-pane", upType, upId);
        }


        /**
         * 当前表格显示的用户类型：管理员
         */
        get isAdmin(): boolean {
            return this.userType === C.USER_TYPE_ADMIN;
        }
        /**
         * 当前表格显示的用户类型：大股东
         */
        get isSuperHolder(): boolean {
            return this.userType === C.USER_TYPE_SOLDER;
        }
        /**
         * 当前表格显示的用户类型：股东
         */
        get isHolder(): boolean {
            return this.userType === C.USER_TYPE_HOLDER;
        }
        /**
         * 当前表格显示的用户类型：总代理
         */
        get isVendor(): boolean {
            return this.userType === C.USER_TYPE_VENDOR;
        }
        /**
         * 当前表格显示的用户类型：代理
         */
        get isAgent(): boolean {
            return this.userType === C.USER_TYPE_AGENT;
        }
        /**
         * 当前表格显示的用户类型：会员
         */
        get isMember(): boolean {
            return this.userType === C.USER_TYPE_MEMBER;
        }
        /**
         * 当前搜索的用户类型：大股东
         */
        get isUpTypeSuperHolder(): boolean {
            return this.upType === C.USER_TYPE_SOLDER;
        }
        /**
         * 当前搜索的用户类型：股东
         */
        get isUpTypeHolder(): boolean {
            return this.upType === C.USER_TYPE_HOLDER;
        }
        /**
         * 当前搜索的用户类型：总代理
         */
        get isUpTypeVendor(): boolean {
            return this.upType === C.USER_TYPE_VENDOR;
        }
        /**
         * 当前搜索的用户类型：代理
         */
        get isUpTypeAgent(): boolean {
            return this.upType === C.USER_TYPE_AGENT;
        }
        /**
         * 当前表格显示的用户类型的标签
         */
        get userTypeLabel(): string {
            return ConstStore.userTypeLabels.hasOwnProperty(this.userType) ? ConstStore.userTypeLabels[this.userType] : "";
        }
        /**
         * 判断当前用户类型是否有子用户类型
         */
        get hasChildUserType(): boolean {
            return this.isSuperHolder || this.isHolder || this.isVendor || this.isAgent;
        }
        /**
         * 默认上线id（用于表单绑定）
         */
        get defaultUpId(): number {
            if (
                (UserStore.isSuperHolder && this.isHolder)
                || (UserStore.isHolder && this.isVendor)
                || (UserStore.isVendor && this.isAgent)
                || (UserStore.isAgent && this.isMember)
            ) {
                return UserStore.userId;
            }
            return 0;
        }
        /**
         * 获取上线类型选项
         */
        get upTypeOpts(): OptVo[] {
            let labels: { [key: number]: string } = {};
            if ((this.isHolder || this.isVendor || this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder)) {
                labels[C.USER_TYPE_SOLDER] = "大股东";
            }
            if ((this.isVendor || this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder)) {
                labels[C.USER_TYPE_HOLDER] = "股东";
            }
            if ((this.isAgent || this.isMember)
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor)) {
                labels[C.USER_TYPE_VENDOR] = "总代理";
            }
            if (this.isMember
                && (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor || UserStore.isAgent)) {
                labels[C.USER_TYPE_AGENT] = "代理";
            }
            return OptVo.loadListByLabels(labels, C.OPT_VALUE_TYPE_NUMBER);
        }
        /**
         * 上线选项数据
         */
        get upOpts(): OptVo[] {
            if (this.isUpTypeSuperHolder) {
                return UserStore.superHolderOpts;
            } else if (this.isUpTypeHolder) {
                return UserStore.holderOpts;
            } else if (this.isUpTypeVendor) {
                return UserStore.vendorOpts;
            } else if (this.isUpTypeAgent) {
                return UserStore.agentOpts;
            } else {
                return [];
            }
        }
        /**
         * 是否显示筛选框
         */
        get isShowSearchSelect(): boolean {
            return (this.isMember || this.isAgent || this.isVendor || this.isHolder) && (this.userType !== UserStore.userType);
        }
        /**
         * 是否显示上级信息的列
         */
        get isShowUpColumns(): boolean {
            return this.isHolder || this.isVendor || this.isAgent || this.isMember;
        }
        /**
         * 是否显示【修改银行信息】
         */
        get isShowUpdateBank(): boolean {
            return this.isMember && UserStore.isAdmin;
        }
        /**
         * 是否显示【加/扣款】
         */
        get isShowChangeCredit(): boolean {
            return this.isMember && UserStore.isAdmin;
        }
        /**
         * 是否显示【vip检查】
         */
        get isShowVipApplyFor(): boolean {
            return this.isMember && UserStore.isAdmin;
        }
        /**
         * 是否显示【删除】
         */
        get isShowDelete(): boolean {
            return !UserStore.isMember && !UserStore.isAgent;
        }
        /**
         * 是否显示【修改】
         */
        get isShowMod(): boolean {
            return !UserStore.isMember && !UserStore.isAgent;
        }
        /**
         * 是否显示激活状态的列
         */
        get isShowActiveColumn(): boolean {
             return UserStore.userType > this.userType && UserStore.userType > C.USER_TYPE_AGENT;
        }
        /**
         * 是否显示操作列
         */
        get isShowOperatorColumn(): boolean {
            return this.isShowMod || this.isShowUpdateBank || this.isShowChangeCredit || this.isShowVipApplyFor || this.isShowDelete;
        }


        @Watch("upId")
        watchUpId(upId: number) {
            this.table.params.upId = upId;
        }
        @Watch("userType")
        watchUserType(userType: number) {
            this.table.params.userType = userType;
        }
        /**
         * 监听默认上线类型
         */
        @Watch("defaultUpType")
        watchDefaultUpType(defaultUpType: number) {
            this.upType = defaultUpType;
        }


        /**
         * 渲染后执行的方法
         */
        mounted() {
            this.autoSelectUpType();
            // 管理员 或 表格显示用户类型 等于 登录用户类型
            if (UserStore.isAdmin || this.userType === UserStore.userType) {
                this.table.params.upId = "";
            }

            this.requestUserRowTable();
        }



        /**
         * 自动选择上线类型
         */
        autoSelectUpType() {
            if (CommonUtil.isEmpty(this.upType) && !UserStore.isAdmin) {
                this.upType = UserStore.userType;
            }
        }
        /**
         * 请求用户表格数据
         */
        async requestUserRowTable() {
            this.table.loading = true;
            let vo = await UserApi.getChildRowVoTable(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }

        /**
         * 提交表单按钮点击
         */
        async onSubmitClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;

            let params = this.form.params;
            if (params.vipLevel >= params.targetVipLevel){
                WindowUtil.messageError("当前已经是最高等级");
            } else {
                let isDone = await UserApi.vipApplyFor(params.userId);
                if (isDone) {
                    this.form.visible = false;
                    this.refresh();
                }
            }
            this.form.loading = false;
        }

        /**
         * 修改点击
         */
        async onModClick(userRowVo: any) {
            this.showUserForm(C.FORM_TYPE_MOD, this.userType, userRowVo.userId);
        }
        /**
         * 点击修改银行信息
         */
        async onBackClick(userRowVo: any) {
            this.showUserForm(C.FORM_TYPE_BANK, this.userType, userRowVo.userId);
        }
        /**
         * 加/扣款点击
         */
        async onCreditClick(userRowVo: any) {
            this.showUserForm(C.FORM_TYPE_CREDIT, this.userType, userRowVo.userId);
        }
        /**
         * VIP等级申请
         */
        async onVipClick(userRowVo: any) {
            this.form.params.userId = userRowVo.userId;
            this.form.params.credit = userRowVo.credit;
            this.form.params.vipLevel = userRowVo.vipLevel;
            this.form.params.vipLevelLabel = userRowVo.vipLevelLabel;
            this.form.params.targetVipLevel = userRowVo.targetVipLevel;
            if (this.form.params.vipLevel < this.form.params.targetVipLevel) {
                this.form.params.targetVipLevelLabel = userRowVo.targetVipLevelLabel;
            }else {
                this.form.params.targetVipLevelLabel = '当前已经是最高等级';
            }
            this.form.visible = true;
        }
        /**
         * 添加按钮点击
         */
        async onAddClick() {
            this.showUserForm(C.FORM_TYPE_ADD, this.userType);
        }
        /**
         * 显示用户弹窗
         */
        async showUserForm(formType: number, userType: number, userId: number = 0) {
            let userForm = (this.$refs.userForm as AccountManageUserForm);
            if (CommonUtil.isEmpty(userForm)) {
                return;
            }
            // @ts-ignore
            userForm.show(formType, userType, userId);
        }
        /**
         * 上级类型变化
         */
        async onUpTypeChange() {
            this.table.params.upId = "";
        }
        /**
         * 行的名字被点击
         * @param rowVo
         */
        async onNameClick(rowVo: any) {
            this.eventSwitchPane(rowVo.userType, rowVo.userId);
        }
        /**
         * 删除用户
         */
        async onDelClick(userRowVo: any) {
            let moreLabel = "";
            if (!this.isMember || !this.isAdmin) {
                moreLabel = "删除时将同时删除用户下所有的用户";
            }
            if (!await WindowUtil.confirm("是否删除【" + userRowVo.name + "】？" + moreLabel)) {
                return;
            }
            this.table.loading = true;
            await UserApi.del(userRowVo.userId);
            await this.requestUserRowTable();
        }
        /**
         * 切换用户激活状态
         * @param userRowVo
         */
        async onActiveChange(userRowVo: any) {
            let userId = userRowVo.userId;
            let active = userRowVo.active;
            let done = UserApi.modActive(userId, active);
            if (done) {
                this.requestUserRowTable();
            }
        }
    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
