<template>
    <el-dialog :title="dialogTitle" :visible.sync="form.visible" :close-on-click-modal="false">
        <el-form v-loading="form.loading" label-width="120px" @submit.native.prevent>
            <el-row v-show="isFormTypeMod || isFormTypeAdd">
                <el-col :sm="12">
                    <el-form-item label="用户名">
                        <el-input v-model="form.params.username" :disabled="isFormTypeMod" :minlength="3" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :sm="12">
                    <el-form-item label="密码">
                        <el-input v-model="form.params.password" show-password :placeholder="formPasswordPlaceholder"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :sm="12">
                    <el-form-item label="昵称">
                        <el-input v-model="form.params.name" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
                <template v-if="!isHiddenUpIdSelect">
                    <!--                    <el-col v-show="isMember" :sm="12">-->
                    <!--                        <el-form-item label="上线类型">-->
                    <!--                            <el-select v-model="form.params.upType" @change="onUpTypeChange" filterable>-->
                    <!--                                <el-option v-for="opt in memberUpTypeOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>-->
                    <!--                            </el-select>-->
                    <!--                        </el-form-item>-->
                    <!--                    </el-col>-->
                    <el-col :sm="12">
                        <el-form-item label="上线">
                            <el-select :value="form.params.upId" v-loading="optsLoading" @change="onUpIdChange" filterable>
                                <el-option v-for="opt in upOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                            </el-select>
                            <el-button @click="onRefreshOptsClick" icon="el-icon-refresh" circle></el-button>
                        </el-form-item>
                    </el-col>
                </template>
                <el-col :sm="12">
                    <el-form-item label="备注">
                        <el-input v-model="form.params.remark" type="textarea" :rows="1" :maxlength="200" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!-----------------------------------------------------修改银行信息------------------------------------------------------------------>
            <el-row v-show="isFormTypeBank">
                <el-col :sm="12">
                    <el-form-item label="银行卡类型">
                        <el-input v-model="form.params.bankName" :minlength="3" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :sm="12">
                    <el-form-item label="银行账户">
                        <el-input v-model="form.params.bankAccount" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :sm="12">
                    <el-form-item label="银行户名">
                        <el-input v-model="form.params.bankUsername" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :sm="12">
                    <el-form-item label="绑定邮箱">
                        <el-input v-model="form.params.bankEmail" :maxlength="100"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!-- -------------------------------------------------------------------加/扣款信用额------------------------------------------------------------------------->
            <el-row v-show="isFormTypeCredit">
                <el-col :sm="24">
                    <el-form-item label="用户名">
                        {{form.params.username}}
                    </el-form-item>
                </el-col>
                <el-col :sm="24">
                    <el-form-item label="信用额度">
                        {{form.params.credit}}
                    </el-form-item>
                </el-col>
                <el-col :sm="24">
                    <el-form-item label="修改额度">
                        <template>
                            <el-radio v-model="form.params.updateCreditType" :label="creditAdd">加款</el-radio>
                            <el-radio v-model="form.params.updateCreditType" :label="creditReduce">扣款</el-radio>
                            <el-select
                                    v-model="form.params.cashType"
                                    filterable
                                    clearable
                                    placeholder="请选择类型"
                            >
                                <el-option v-for="opt in cashTypeOpts" :key="opt.value" :value="opt.value" :label="opt.label"></el-option>
                            </el-select>

                            <el-input v-model="form.params.changeCredit" style="width: 200px" placeholder="输入加扣金额"></el-input>
                        </template>
                    </el-form-item>
                </el-col>
                <el-col :sm="24">
                    <el-form-item label="备注">
                        <el-input v-model="form.params.remark" type="textarea" :rows="1" :maxlength="80" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--<el-divider></el-divider>-->

            <el-row v-show="isFormTypeMod">

                <template v-if="isSuperHolder">
                    <el-col :sm="12">
                        <el-form-item label="委员会">
                            <GaRadioGroupIsNot v-model="form.params.commissionPlan"></GaRadioGroupIsNot>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="12">
                        <el-form-item label="可看报表">
                            <GaRadioGroupIsNot v-model="form.params.companyReport"></GaRadioGroupIsNot>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="12">
                        <el-form-item label="包底">
                            <GaRadioGroupIsNot v-model="form.params.includeBelow"></GaRadioGroupIsNot>
                        </el-form-item>
                    </el-col>
                </template>

                <template v-else-if="isHolder">
                    <el-col>
                        <el-form-item label="占成">
                            <el-slider v-model="form.params.fractionMax" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                    <el-col>
                        <el-form-item label="大股东占成">
                            <el-slider v-model="form.params.fractionSuperHolder" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                </template>

                <template v-else-if="isVendor">
                    <el-col>
                        <el-form-item label="占成">
                            <el-slider v-model="form.params.fractionMax" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                    <el-col>
                        <el-form-item label="股东占成">
                            <el-slider v-model="form.params.fractionHolder" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                </template>

                <template v-else-if="isAgent">
                    <el-col>
                        <el-form-item label="占成">
                            <el-slider v-model="form.params.fractionMax" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                    <el-col>
                        <el-form-item label="总代理占成">
                            <el-slider v-model="form.params.fractionVendor" :min="0" :max="1" :step="0.01" show-input></el-slider>
                        </el-form-item>
                    </el-col>
                </template>
            </el-row>
        </el-form>

        <template #footer>
            <el-button @click="form.visible = false" v-loading="form.loading">取消</el-button>
            <el-button @click="onSubmitClick" type="primary" v-loading="form.loading">确认</el-button>
        </template>
    </el-dialog>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import FormVo from "@/models/vos/FormVo";
    import CommonUtil from "@/utils/CommonUtil";
    import C from "@/constants/C";
    import EncryptUtil from "@/utils/EncryptUtil";
    import UserApi from "@/api/UserApi";
    import WindowUtil from "@/utils/WindowUtil";
    import {UserStore} from "@/store/modules/UserStore";
    import OptVo from "@/models/vos/OptVo";
    import {ConstStore} from "@/store/modules/ConstStore";
    import GaRadioGroupIsNot from "@/components/Ga/GaRadioGroupIsNot.vue";

    /**
     * 用户表单组件
     */
    @Component({
        components: {GaRadioGroupIsNot}
    })
    export default class AccountManageUserForm extends Vue {
        /**
         * 默认上线id
         */
        @Prop({required: false, type: [Number, String], default: ""})
        defaultUpId!: number | string;
        /**
         * 默认上线类型
         */
        @Prop({required: false, type: [Number, String], default: ""})
        defaultUpType!: number | string;

        /**
         * 表单数据
         */
        form = new FormVo({
            id: "",
            upType: "", // 上线类型
            upId: "", // 上线id
            userType: "",
            username: "",
            password: "",
            name: "",
            remark: "",
            updateCreditType: "",
            changeCredit: 0, //修改额度值
            cashType: "", //加扣款类型
            credit: 0, // 信用额度


            commissionPlan: C.FALSE, // 委员会
            companyReport: C.FALSE, // 是否可看报表
            includeBelow: C.FALSE, // 是否包底

            fractionMax: 0,
            fractionSuperHolder: 0,
            fractionHolder: 0,
            fractionVendor: 0,
        });
        /**
         * 选项数据加载标识
         */
        optsLoading: boolean = false;

        // ----------- 提供对外的方法 START -----------
        /**
         * 显示表单数据
         * @param formType 表单类型
         * @param userType 编辑的用户类型
         * @param userId 需要修改的用户id（修改时必须带上该参数）
         */
        show(formType: number, userType: number, userId: number = 0) {
            if (formType === C.FORM_TYPE_ADD) {
                this.onAdd(userType);
            } else if (formType === C.FORM_TYPE_MOD) {
                if (userId === 0) {
                    WindowUtil.messageError("请输入用户id");
                    return;
                }
                this.onMod(userId);
            } else if (formType === C.FORM_TYPE_CREDIT) {
                if (userId === 0) {
                    WindowUtil.messageError("请输入用户id");
                    return;
                }
                this.onMod(userId);
                this.form.setType(C.FORM_TYPE_CREDIT);
            } else if (formType === C.FORM_TYPE_BANK) {
                if (userId === 0) {
                    WindowUtil.messageError("请输入用户id");
                    return;
                }
                this.onBank(userId);
                this.form.setType(C.FORM_TYPE_BANK);
            } else {
                WindowUtil.messageError("未知的弹窗显示类型");
            }
        }

        // ----------- 提供对外的方法 END -----------

        /**
         * 弹窗标题
         */
        get dialogTitle(): string {
            let dialogTitle = "";
            if (this.isFormTypeAdd) {
                dialogTitle = "添加";
            } else if (this.isFormTypeMod) {
                dialogTitle = "修改";
            } else if (this.isFormTypeCredit) {
                dialogTitle = "加/减款操作--";
            } else if (this.isFormTypeBank) {
                dialogTitle = "修改银行信息--";
            }
            return dialogTitle + this.userTypeLabel;
        }

        /**
         * 用户类型
         */
        get userType(): number {
            return this.form.params.userType;
        }

        /**
         * 用户类型标签
         */
        get userTypeLabel(): string {
            return ConstStore.userTypeLabels.hasOwnProperty(this.userType) ? ConstStore.userTypeLabels[this.userType] : "";
        }

        /**
         * 表单类型是否是添加
         */
        get isFormTypeAdd(): boolean {
            return this.form.type === C.FORM_TYPE_ADD;
        }

        /**
         * 表单类型是否是修改
         */
        get isFormTypeMod(): boolean {
            return this.form.type === C.FORM_TYPE_MOD;
        }

        /**
         * 表单类型是否是修改银行信息
         */
        get isFormTypeBank(): boolean {
            return this.form.type === C.FORM_TYPE_BANK;
        }

        /**
         * 表单类型是否是加/扣信用额
         */
        get isFormTypeCredit(): boolean {
            return this.form.type === C.FORM_TYPE_CREDIT;
        }

        /**
         * 信用额增加
         */
        get creditAdd(): number {
            return C.UPDATE_CREDIT_TYPE_ADD;
        }

        /**
         * 信用额减少
         */
        get creditReduce(): number {
            return C.UPDATE_CREDIT_TYPE_REDUCE;
        }

        /**
         * 获取帐变类型
         */
        get cashTypeOpts(): OptVo[] {
            if (this.form.params.updateCreditType == this.creditAdd) {
                return ConstStore.adminAddOpts;
            } else if (this.form.params.updateCreditType == this.creditReduce) {
                return ConstStore.adminCutOpts;
            } else {
                return [];
            }
        }

        /**
         * 用户选项数据
         */
        get userTypeOpts(): OptVo[] {
            return UserStore.filterUserTypeOpts;
        }

        /**
         * 会员上线类型选项
         */
        get memberUpTypeOpts(): OptVo[] {
            let labels: { [key: number]: string } = {};
            /*
            if (UserStore.isAdmin || UserStore.isSuperHolder) {
                labels[C.USER_TYPE_SOLDER] = "大股东";
            }
            if (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder) {
                labels[C.USER_TYPE_HOLDER] = "股东";
            }
            if (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor) {
                labels[C.USER_TYPE_VENDOR] = "总代理";
            }
            */
            if (UserStore.isAdmin || UserStore.isSuperHolder || UserStore.isHolder || UserStore.isVendor || UserStore.isAgent) {
                labels[C.USER_TYPE_AGENT] = "代理";
            }
            return OptVo.loadListByLabels(labels, C.OPT_VALUE_TYPE_NUMBER);
        }

        /**
         * 会员上线选项
         */
        get memberUpUserOpts(): OptVo[] {
            if (this.isMemberUpTypeSuperHolder) {
                return UserStore.superHolderOpts;
            } else if (this.isMemberUpTypeHolder) {
                return UserStore.holderOpts;
            } else if (this.isMemberUpTypeVendor) {
                return UserStore.vendorOpts;
            } else if (this.isMemberUpTypeAgent) {
                return UserStore.agentOpts;
            } else {
                return [];
            }
        }

        /**
         * 密码框的提示
         */
        get formPasswordPlaceholder(): string {
            return this.isFormTypeMod ? "留空代表不修改密码" : "";
        }

        /**
         * 会员上线类型：大股东
         */
        get isMemberUpTypeSuperHolder(): boolean {
            return this.form.params.upType === C.USER_TYPE_SOLDER;
        }

        /**
         * 会员上线类型：股东
         */
        get isMemberUpTypeHolder(): boolean {
            return this.form.params.upType === C.USER_TYPE_HOLDER;
        }

        /**
         * 会员上线类型：总代理
         */
        get isMemberUpTypeVendor(): boolean {
            return this.form.params.upType === C.USER_TYPE_VENDOR;
        }

        /**
         * 会员上线类型：代理
         */
        get isMemberUpTypeAgent(): boolean {
            return this.form.params.upType === C.USER_TYPE_AGENT;
        }

        /**
         * 当前 添加/修改 用户是否是管理员
         */
        get isAdmin(): boolean {
            return this.userType === C.USER_TYPE_ADMIN;
        }

        /**
         * 当前 添加/修改 用户是否是大股东
         */
        get isSuperHolder(): boolean {
            return this.userType === C.USER_TYPE_SOLDER;
        }

        /**
         * 当前 添加/修改 用户是否是股东
         */
        get isHolder(): boolean {
            return this.userType === C.USER_TYPE_HOLDER;
        }

        /**
         * 当前 添加/修改 用户是否是总代理
         */
        get isVendor(): boolean {
            return this.userType === C.USER_TYPE_VENDOR;
        }

        /**
         * 当前 添加/修改 用户是否是代理
         */
        get isAgent(): boolean {
            return this.userType === C.USER_TYPE_AGENT;
        }

        /**
         * 当前 添加/修改 用户是否是会员
         */
        get isMember(): boolean {
            return this.userType === C.USER_TYPE_MEMBER;
        }

        /**
         * 上线选项数据
         */
        get upOpts(): OptVo[] {
            if (this.isHolder) {
                return UserStore.superHolderOpts;
            } else if (this.isVendor) {
                return UserStore.holderOpts;
            } else if (this.isAgent) {
                return UserStore.vendorOpts;
            } else if (this.isMember) {
                return this.memberUpUserOpts;
            } else {
                return [];
            }
        }

        /**
         * 是否隐藏上线选项
         */
        get isHiddenUpIdSelect(): boolean {
            return (
                (UserStore.isAdmin && (this.isAdmin || this.isSuperHolder)) // 管理员 添加 管理员 或 大股东
                || (UserStore.isSuperHolder && this.isHolder) // 大股东 添加 股东
                || (UserStore.isHolder && this.isVendor) // 股东 添加 总代理
                || (UserStore.isVendor && this.isAgent) // 总代理 添加 代理
                || (UserStore.isAgent) // 代理 添加 会员
            );
        }

        /**
         * 监听默认选中的用户类型
         */
        @Watch("defaultUpId")
        watchDefaultUpId(val: number) {
            if (CommonUtil.isEmpty(val) || CommonUtil.isEmpty(this.form.params.upType)) {
                return;
            }
            this.form.params.upId = val;
        }

        /**
         * 监听默认上线类型
         */
        @Watch("defaultUpType")
        watchDefaultUpType(val: number) {
            this.setUpType(val);
        }

        /**
         * 监听是否隐藏上线选项。如果隐藏则自动选择上线
         */
        @Watch("isHiddenUpIdSelect")
        watchIsHiddenUpIdSelect(val: boolean) {
            if (val) {
                this.autoSetUpId();
            }
        }

        /**
         * 刷新事件
         */
        eventRefresh() {
            this.$emit("refresh");
        }

        mounted() {
            setTimeout(() => {
                this.setUpType(this.defaultUpType);
                if (!CommonUtil.isEmpty(this.form.params.upType)) {
                    this.setUpId(this.defaultUpId);
                }
            });
        }

        /**
         * 设置用户类型
         */
        setUpType(upType: number | string) {
            this.$set(this.form.params, "upType", upType);
        }

        /**
         * 设置上级用户id
         */
        setUpId(upId: number | string) {
            console.log("setUpId");
            this.$set(this.form.params, "upId", upId);
        }

        /**
         * 添加账号
         */
        onAdd(userType: number) {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_ADD);
            this.autoSetUpId();
            this.form.params.userType = userType;
            // 如果添加会员，则默认类型上线类型是代理
            if (this.form.params.userType === C.USER_TYPE_MEMBER) {
                this.form.params.upType = C.USER_TYPE_AGENT;
            }
            this.form.visible = true;
        }

        /**
         * 自动设置上级id
         */
        autoSetUpId() {
            this.autoSerUpType();
            if (this.isHiddenUpIdSelect) {
                // 隐藏选项时。即选中自己
                this.form.params.upId = UserStore.userId;
            }
        }

        /**
         * 自动设置上线类型
         */
        autoSerUpType() {
            if (this.isHiddenUpIdSelect) {
                // 隐藏选项时。即选中自己
                this.form.params.upType = UserStore.userType;
            }
        }

        /**
         * 修改账号
         */
        onMod(userId: number) {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_MOD);
            this.requestUserForm(userId);
            this.form.visible = true;
        }

        /**
         * 修改银行信息
         */
        onBank(userId: number) {
            this.form.reset();
            this.form.setType(C.FORM_TYPE_BANK);
            this.requestUserForm(userId);
            this.form.visible = true;
        }

        /**
         * 请求用户表单数据
         */
        async requestUserForm(userId: number) {
            this.form.loading = true;
            this.form.reset();
            let userForm = await UserApi.getUserForm({userId});
            if (userForm !== null) {
                this.form.params = CommonUtil.copy(userForm);
            } else {
                this.form.params.id = userId;
            }
            this.form.loading = false;
        }

        /**
         * 提交表单按钮点击
         */
        async onSubmitClick() {
            if (this.form.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.form.loading = true;
            if (this.isFormTypeAdd) {
                let params = CommonUtil.copy(this.form.params);
                params.password = EncryptUtil.sha256(params.password);
                let isDone = await UserApi.add(params);
                if (isDone) {
                    this.form.visible = false;
                    this.eventRefresh();
                }
            } else if (this.isFormTypeMod) {
                let params = CommonUtil.copy(this.form.params);
                if (!CommonUtil.isEmpty(params.password)) {
                    params.password = EncryptUtil.sha256(params.password);
                }
                let isDone = await UserApi.mod(params);
                if (isDone) {
                    this.form.visible = false;
                    this.eventRefresh();
                }
            } else if (this.isFormTypeCredit) {
                let params = CommonUtil.copy(this.form.params);
                if (CommonUtil.isEmpty(this.form.params.cashType)) {
                    WindowUtil.messageError("请选择类型");
                } else {
                    if (params.changeCredit > 0) {
                        let isDone = await UserApi.mod(params);
                        if (isDone) {
                            this.form.visible = false;
                            this.eventRefresh();
                        }
                    } else {
                        WindowUtil.messageError("修改信用额不能低于零");
                    }
                }
            } else if (this.isFormTypeBank) {
                let params = CommonUtil.copy(this.form.params);
                let isDone = await UserApi.bank(params);
                if (isDone) {
                    this.form.visible = false;
                    this.eventRefresh();
                }
            } else {
                WindowUtil.messageError("未知的提交类型");
            }
            this.form.loading = false;
        }

        /**
         * 刷新用户选项数据
         */
        async onRefreshOptsClick() {
            this.optsLoading = true;
            await UserStore.refreshOpts();
            this.optsLoading = false;
        }

        /**
         * 上级类型变化
         * @param val
         */
        async onUpTypeChange(val: number) {
            if (!CommonUtil.isEmpty(this.form.params.upId)) {
                this.setUpId("");
            }
        }

        /**
         * 上级变化
         * @param upId
         */
        async onUpIdChange(upId: number) {
            this.setUpId(upId);
        }
    }
</script>

<style lang="scss" scoped>

</style>
