<template>
    <div class="account-manage-direct-member-table">
        <el-tag>直属会员</el-tag>
        <template v-if="table.loading">
            <el-button icon="el-icon-loading" circle></el-button>
        </template>
        <template v-else>
            <el-button @click="requestDirectMemberRowVoTable" icon="el-icon-refresh">刷新</el-button>
            <el-button @click="onAddClick" icon="el-icon-circle-plus-outline">添加会员</el-button>
        </template>
        <el-table :data="table.rows" v-loading="table.loading" stripe>
            <el-table-column label="用户名" prop="username"></el-table-column>
            <el-table-column label="昵称" prop="name"></el-table-column>
            <el-table-column label="操作" align="center">
                <template #default="props">
                    <el-button @click="onModClick(props.row)" icon="el-icon-edit-outline">修改</el-button>
                </template>
            </el-table-column>
        </el-table>

        <AccountManageUserForm ref="userForm" :default-up-id="upId" :default-up-type="upType" @refresh="requestDirectMemberRowVoTable"></AccountManageUserForm>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import CommonUtil from "@/utils/CommonUtil";
    import TableVo from "@/models/vos/TableVo";
    import AccountManageUserForm from "@/views/account-manage/AccountManageUserForm.vue";
    import UserApi from "@/api/UserApi";
    import C from "@/constants/C";

    @Component({
        components: {AccountManageUserForm},
    })
    export default class AccountManageDirectMemberTable extends Vue {
        /**
         * 直属上线id
         */
        @Prop({type: Number, required: true, default: 0})
        public upId!: number;
        /**
         * 直属上线类型
         */
        @Prop({type: Number, required: true, default: 0})
        public upType!: number;

        public table = new TableVo({
            upId: this.upId,
            isDirect: C.TRUE,
        });

        @Watch("upId")
        public watchUpId(upId: number) {
            this.table.params.upId = upId;
            this.requestDirectMemberRowVoTable();
        }

        mounted() {
            this.table.params.upId = this.upId;
            this.requestDirectMemberRowVoTable();
        }

        /**
         * 请求直属会员数据
         */
        public async requestDirectMemberRowVoTable() {
            this.table.loading = true;
            let vo = await UserApi.getChildRowVoTable(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }

        /**
         * 修改点击
         */
        public async onModClick(userRowVo: any) {
            let userForm = (this.$refs.userForm as AccountManageUserForm);
            if (CommonUtil.isEmpty(userForm)) {
                return;
            }
            // @ts-ignore
            userForm.show(C.FORM_TYPE_MOD, C.USER_TYPE_MEMBER, userRowVo.userId);
        }

        /**
         * 添加按钮点击
         */
        public async onAddClick() {
            let userForm = (this.$refs.userForm as AccountManageUserForm);
            if (CommonUtil.isEmpty(userForm)) {
                return;
            }
            // @ts-ignore
            userForm.show(C.FORM_TYPE_ADD, C.USER_TYPE_MEMBER);
        }
    }
</script>

<style lang="scss" scoped>
</style>
