<template>
    <div class="app-container">
        <el-table :data="table.rows" stripe>
            <el-table-column label="用户ID" prop="user_id"></el-table-column>
            <el-table-column label="用户名" prop="username"></el-table-column>
            <el-table-column label="会员职称" prop="vip_name"></el-table-column>
            <el-table-column label="当前积分" prop="integral"></el-table-column>
            <el-table-column label="当前业绩" prop="credit"></el-table-column>
            <el-table-column label="操作">
                <template #default="scope">
                    <el-button @click="userEdit(scope.row)" size="mini">修改</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
            layout="total, sizes, prev, pager, next, jumper"></el-pagination>

        <el-dialog title="修改会员" :visible.sync="form.visible" :close-on-click-modal="false">
            <el-form @submit.native.prevent label-width="120px">
                <el-form-item label="积分">
                    <el-input v-model="form.params.integral"></el-input>
                </el-form-item>
                <el-form-item label="业绩">
                    <el-input v-model="form.params.credit" type="textarea" :rows="3"></el-input>
                </el-form-item>
            </el-form>

            <template #footer>
                <el-button @click="form.visible = false">取消</el-button>
                <el-button @click="userSubmitClick" type="primary">确认</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator'
    import TableVo from "@/models/vos/TableVo";
    import UserApi from "@/api/UserApi";
    import FormVo from "@/models/vos/FormVo";
    import {countColumn} from "codemirror";

    @Component({
    })
    export default class AccountManage extends Vue {
        table = new TableVo({
            orderNo: "",
            orderType: "",
            orderState: 1,
            isShowEnter: false,
        });
        public form = new FormVo({
            user_id: "",
            credit: "",
            integral: "",
        });
        userEdit(userVo: any) {
            this.form.params.user_id = userVo.user_id;
            this.form.params.credit = userVo.credit;
            this.form.params.integral = userVo.integral;
            this.form.visible = true;
        }
        async userSubmitClick () {
            this.form.loading = true;
            let vo = await UserApi.changeUser(this.form.params);
            if (vo) {
                this.requestUserTable();
                this.form.visible = false;
            }
            this.form.loading = false;
        }
        mounted() {
            this.requestUserTable();
        }

        onSizeChange(size: number) {
            this.table.size = size;
            this.requestUserTable();
        }
        onPageChange(page: number) {
            this.table.page = page;
            this.requestUserTable();
        }
        async requestUserTable(resetPage = false) {
            this.table.loading = true;
            if (resetPage) {
                this.table.page = 1;
            }
            let vo = await UserApi.getUserList(this.table.getParams());
            for (let i = 0;i < vo.rows.length; i++) {
                vo.rows[i].vip_name = (vo.rows[i].vip_level == 0) ? 'VIP1' : ((vo.rows[i].vip_level == 1) ? 'VIP2' : 'VIP3');
            }
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }
    }
</script>

<style lang="scss" scoped>

</style>
