<template>
    <div class="app-container">
        <div class="ga-flex">
            <el-input v-model="table.params.orderNo" @keyup.native.enter="requestWalletTable(true)" placeholder="订单编号搜索" style="width: 200px;"></el-input>
            <el-select v-model="table.params.orderType" filterable clearable placeholder="所有订单类型" style="width: 120px;">
                <el-option v-for="(opt, index) in walletOrderTypeLabels" :key="index" :label="opt.label" :value="opt.value"></el-option>
            </el-select>
            <el-select v-model="table.params.orderState" filterable clearable placeholder="所有订单状态" style="width: 120px;">
                <el-option v-for="(opt, index) in walletOrderStatusLabels" :key="index" :label="opt.label" :value="opt.value"></el-option>
            </el-select>
            <div>
                <el-date-picker v-model="table.params.startTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="开始时间"></el-date-picker>
                -
                <el-date-picker v-model="table.params.endTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="结束时间"></el-date-picker>
            </div>
            <GaCountdown v-loading="table.loading" @finished="requestWalletTable(true)"></GaCountdown>
            <el-button @click="requestWalletTable(true)" type="primary" icon="el-icon-search" :loading="table.loading">搜索</el-button>

            <el-tooltip content="跳转到支付平台，确认订单收款" placement="top">
                <el-button type="warning" @click="onJumpPayPlat">跳转到支付平台</el-button>
            </el-tooltip>
        </div>

        <el-table :data="table.rows" stripe>
            <el-table-column label="订单ID" prop="id"></el-table-column>
            <el-table-column label="订单编号" prop="orderNo"></el-table-column>
            <el-table-column label="订单类型" prop="orderType"></el-table-column>
            <el-table-column label="订单金额" prop="amount"></el-table-column>
            <el-table-column label="会员" prop="memberUsername"></el-table-column>
            <el-table-column label="支付用户名" prop="payUsername"></el-table-column>
            <el-table-column label="订单状态" prop="orderState"></el-table-column>
            <el-table-column label="提交时间" prop="orderTime"></el-table-column>
            <el-table-column label="操作人员" prop="adminUsername"></el-table-column>
            <el-table-column label="处理时间" prop="finishTime"></el-table-column>
<!--            <el-table-column label="操作">-->
<!--                <template #default="scope">-->
                    <!--191009 暂时不允许后台直接确认收款。必须通过支付平台确认-->
                    <!--                    <div  v-if="scope.row.isShowEnter">-->
                    <!--                        <el-button @click="adminConfirmReceipt(scope.row.id) :loading="table.loading">{{ $t('table.confirmReceipt') }}</el-button>-->
                    <!--                        <el-button @click="adminCancelOrder(scope.row.id)">{{ $t('table.failure') }}</el-button>-->
                    <!--                    </div>-->
                    <!--                    <el-button v-if="scope.row['isWithdraw']" @click="onShowWithdraw(scope.row)">转账信息</el-button>-->
<!--                </template>-->
<!--            </el-table-column>-->
        </el-table>
        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
                       layout="total, sizes, prev, pager, next, jumper"></el-pagination>

        <el-dialog title="交易信息" :visible.sync="withdrawVoVisible" :close-on-click-modal="false">
            <el-form @submit.native.prevent v-loading="withdrawVoLoading">
                <el-form-item label="订单编号">{{ withdrawVo.orderNo }}</el-form-item>
                <el-form-item label="银行号码">{{ withdrawVo.bankNo }}</el-form-item>
                <el-form-item label="收款人">{{ withdrawVo.bankName }}</el-form-item>
            </el-form>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import C from "@/constants/C";
    import OptVo from "@/models/vos/OptVo";
    import TableVo from "@/models/vos/TableVo";
    import {ConstStore} from "@/store/modules/ConstStore";
    import WindowUtil from "@/utils/WindowUtil";
    import WalletApi from "@/api/WalletApi";
    import GaCountdown from "@/components/Ga/GaCountdown.vue";

    /**
     * 账号表格数据封装
     */
    @Component({
        components: {GaCountdown}
    })
    export default class WalletTable extends Vue {
        /**
         * 表格数据
         */
        table = new TableVo({
            orderNo: "",
            orderType: "",
            orderState: 1,
            isShowEnter: false,
        });
        /**
         * 提款信息是否加载中
         */
        withdrawVoLoading = false;
        /**
         * 提款信息是否显示
         */
        withdrawVoVisible = false;
        /**
         * 提款信息详细内容
         */
        withdrawVo: any = {
            orderWalletId: 0,
            orderNo: "",
            bankNo: "",
            bankName: "",
        };


        /**
         *获取订单类型
         */
        get walletOrderTypeLabels(): OptVo[] {
            return OptVo.loadListByLabels(ConstStore.getWalletOrderTypeLabels, C.OPT_VALUE_TYPE_NUMBER);
        }
        /**
         *获取订单状态
         */
        get walletOrderStatusLabels(): OptVo[] {
            return OptVo.loadListByLabels(ConstStore.getWalletOrderStatusLabels, C.OPT_VALUE_TYPE_NUMBER);
        }


        /**
         * 渲染后执行的方法
         */
        mounted() {
            this.table.params.order_state = {1: "待处理"}
            this.requestWalletTable();
        }


        /**
         * 请求表格数据
         */
        async requestWalletTable(resetPage = false) {
            this.table.loading = true;
            if (resetPage) {
                this.table.page = 1;
            }
            let vo = await WalletApi.getWalletOrderList(this.table.getParams());
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }
        onSizeChange(size: number) {
            this.table.size = size;
            this.requestWalletTable();
        }
        onPageChange(page: number) {
            this.table.page = page;
            this.requestWalletTable();
        }
        /**
         * 确认完成
         */
        async adminConfirmReceipt(walletId: number) {
            if (!await WindowUtil.confirm("是否确认完成？")) {
                return;
            }
            let isDone = await WalletApi.updateWalletState({'wallet_id': walletId, 'order_state': C.ORDER_WALLET_STATE_DONE});
            this.table.loading = true;
            if (isDone) {
                await this.requestWalletTable();
            }
            this.table.loading = false;
        }
        /**
         * 确认失败订单
         */
        // async adminCancelOrder(walletId: number) {
        //     if (!await WindowUtil.confirm("是否确认失败？")) {
        //         return;
        //     }
        //     this.table.loading = true;
        //     let isDone = await WalletApi.updateWalletState({'wallet_id': walletId, 'order_state': C.ORDER_WALLET_STATE_FAIL});
        //     if (isDone) {
        //         await this.requestWalletTable();
        //     }
        //     this.table.loading = false;
        // }
        /**
         * 查看转账信息
         */
        async onShowWithdraw(orderWalletVo: any) {
            this.withdrawVoVisible = true;
            await this.requestWithdrawVo(orderWalletVo.id);
        }
        /**
         * 请求交易信息
         */
        async requestWithdrawVo(orderWalletId: number) {
            this.withdrawVoLoading = true;
            let withdrawVo = await WalletApi.getWithdrawVo({orderWalletId: orderWalletId});
            this.withdrawVoLoading = false;
            if (withdrawVo === null) {
                return;
            }
            this.withdrawVo = withdrawVo;
        }
        /**
         * 跳转到支付平台
         */
        async onJumpPayPlat() {
            await WindowUtil.openNewTab(ConstStore.payPlatUrl);
        }
    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
