<template>
    <div>
        模板
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component({
        components: {
        },
    })
    export default class _Template extends Vue {
        mounted() {

        }
    }
</script>

<style lang="scss" scoped>

</style>