<template>
    <div id="app">
        <Home>
            <template #foot>
                <IndexFoot></IndexFoot>
            </template>
        </Home>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import IndexFoot from "@/pages/index/view/IndexFoot.vue";
    import Home from "@/pages/index/view/Home.vue";

    @Component({
        components: {
            IndexFoot,
            Home
        },
    })
    export default class App extends Vue {
    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
