<template>
    <div class="app-container">
        <div class="ga-flex">
            <el-input v-model="table.params.orderNo" @keyup.native.enter="requestWalletTable(true)" placeholder="订单编号搜索" style="width: 200px;"></el-input>
            <el-select v-model="table.params.orderState" filterable clearable placeholder="所有订单状态" style="width: 120px;">
                <el-option v-for="(opt, index) in walletOrderStatusLabels" :key="index" :label="opt.label" :value="opt.value"></el-option>
            </el-select>
            <div>
                <el-date-picker v-model="table.params.startTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="开始时间"></el-date-picker>
                -
                <el-date-picker v-model="table.params.endTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="结束时间"></el-date-picker>
            </div>
            <GaCountdown v-loading="table.loading" @finished="requestWalletTable(true)"></GaCountdown>
            <el-button @click="requestWalletTable(true)" type="primary" icon="el-icon-search" :loading="table.loading">搜索</el-button>

        </div>

        <el-table :data="table.rows" stripe>
            <el-table-column label="订单ID" prop="id"></el-table-column>
            <el-table-column label="订单编号" prop="orderNo"></el-table-column>
            <el-table-column label="会员" prop="memberUsername"></el-table-column>
            <el-table-column label="订单状态" prop="orderState"></el-table-column>
            <el-table-column label="提交时间" prop="orderTime"></el-table-column>
            <el-table-column label="操作人员" prop="adminUsername"></el-table-column>
            <el-table-column label="处理时间" prop="finishTime"></el-table-column>
            <el-table-column label="操作" prop="finishTime">
                <template #default="props">
                    <el-button @click="onClickFH(props.row.id)" v-show="isShowFH(props.row.isShow)"  type="primary">发货</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
            layout="total, sizes, prev, pager, next, jumper"></el-pagination>

    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import C from "@/constants/C";
    import OptVo from "@/models/vos/OptVo";
    import TableVo from "@/models/vos/TableVo";
    import {ConstStore} from "@/store/modules/ConstStore";
    import WindowUtil from "@/utils/WindowUtil";
    import WalletApi from "@/api/WalletApi";
    import GaCountdown from "@/components/Ga/GaCountdown.vue";

    /**
     * 账号表格数据封装
     */
    @Component({
        components: {GaCountdown}
    })
    export default class WalletTable extends Vue {
        /**
         * 表格数据
         */
        table = new TableVo({
            orderNo: "",
            orderType: "",
            orderState: 1,
            isShowEnter: false,
        });
        /**
         * 提款信息是否加载中
         */
        withdrawVoLoading = false;
        /**
         * 提款信息是否显示
         */
        withdrawVoVisible = false;
        /**
         * 提款信息详细内容
         */
        withdrawVo: any = {
            orderWalletId: 0,
            orderNo: "",
            bankNo: "",
            bankName: "",
        };

        isShowFH(state: any): boolean {
            console.log(state)
            return  state;
        }

        /**
         *获取订单类型
         */
        get walletOrderTypeLabels(): OptVo[] {
            return OptVo.loadListByLabels(ConstStore.getWalletOrderTypeLabels, C.OPT_VALUE_TYPE_NUMBER);
        }
        /**
         *获取订单状态
         */
        get walletOrderStatusLabels(): OptVo[] {
            return OptVo.loadListByLabels(ConstStore.getWalletOrderStatusLabels, C.OPT_VALUE_TYPE_NUMBER);
        }


        /**
         * 渲染后执行的方法
         */
        mounted() {
            this.table.params.order_state = {1: "待发货"}
            this.requestWalletTable();
        }


        /**
         * 请求表格数据
         */
        async requestWalletTable(resetPage = false) {
            this.table.loading = true;
            if (resetPage) {
                this.table.page = 1;
            }
            let vo = await WalletApi.getWalletOrderList(this.table.getParams());
            console.log(vo)
            this.table.setByTableDataVo(vo);
            this.table.loading = false;
        }
        onSizeChange(size: number) {
            this.table.size = size;
            this.requestWalletTable();
        }
        onPageChange(page: number) {
            this.table.page = page;
            this.requestWalletTable();
        }
        /**
         * 确认完成
         */
        async onClickFH(id: any) {
            if (!id) {
                return;
            }
            let isDone = await WalletApi.updateWalletState({'id': id});
            this.table.loading = true;
            if (isDone) {
                await this.requestWalletTable();
            }
            this.table.loading = false;
        }
    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
