<template>
    <div class="app-container">
        <el-card>
            <template #header>
                个人信息
            </template>

            <el-form label-width="120px">
                <el-form-item label="用户名称">{{ userName }}</el-form-item>
                <el-form-item label="用户类型">{{ userTypeLabel }}</el-form-item>
                <el-form-item label="本次登录">{{ loginTime }}</el-form-item>
                <el-form-item label="本次登录IP">{{ loginIp }}</el-form-item>
                <el-form-item label="上次登录">{{ lastLoginTime }}</el-form-item>
                <el-form-item label="上次登录IP">{{ lastLoginIp }}</el-form-item>
            </el-form>
        </el-card>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import {UserStore} from "@/store/modules/UserStore";
    import {ConstStore} from "@/store/modules/ConstStore";

    /**
     * 首页
     */
    @Component({})
    export default class Home extends Vue {

        /**
         * 用户名字
         */
        get userName(): string {
            return UserStore.name;
        }
        /**
         * 用户类型标签列表
         */
        get userTypeLabels(): {[userType: string]: string} {
            return ConstStore.userTypeLabels;
        }
        /**
         * 用户类型
         */
        get userType(): number {
            return UserStore.userType;
        }
        /**
         * 用户类型标签
         */
        get userTypeLabel(): string {
            return this.userTypeLabels.hasOwnProperty(this.userType) ? this.userTypeLabels[this.userType] : "";
        }
        /**
         * 登录时间
         */
        get loginTime(): string {
            return UserStore.homeVo.loginTime;
        }
        /**
         * 登录IP
         */
        get loginIp(): string {
            return UserStore.homeVo.loginIp;
        }
        /**
         * 上次登录时间
         */
        get lastLoginTime(): string {
            return UserStore.homeVo.lastLoginTime;
        }
        /**
         * 上次登录IP
         */
        get lastLoginIp(): string {
            return UserStore.homeVo.lastLoginIp;
        }

        mounted(){
            console.log("mounted");
        }

        activated(){
            console.log("activated");
        }
    }
</script>

<style lang="scss" scoped>

</style>
