<template>
    <div class="app-container">
        <el-button @click="onLinksClick()" icon="el-icon-share">生成</el-button>
        <el-tabs v-model="activeName">
            <el-tab-pane
                    label="推广链接"
                    name="directly"
            >
                <el-input
                        v-model="inputDataUrl.inputData"
                        placeholder="Please input"
                        style="width:400px; max-width:100%;"
                />
                <el-button
                        type="primary"
                        icon="el-icon-document"
                        @click="handleClipboard(inputDataUrl.inputData, $event)"
                >
                    copy
                </el-button>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { handleClipboard, clipboardSuccess } from '@/utils/clipboard' // use clipboard directly
    import {UserStore} from "@/store/modules/UserStore";
    import ActivityApi from "@/api/ActivityApi";


    @Component({})
    export default class spread extends Vue {
        private activeName = 'directly';
        private clipboardSuccess = clipboardSuccess
        private handleClipboard = handleClipboard

        inputDataUrl: any = {
            inputData:""
        };
        /**
         * 点击生成推广链接
         */
        async onLinksClick() {
            let params = {
                userId: UserStore.userId
            };
            let vo = await ActivityApi.getUserLinks(params);
            this.inputDataUrl.inputData = vo.linksId;
        }

    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
