<template>
    <div class="app-container">
        <div class="ga-flex">
            <el-select v-model="table.params.kind" filterable clearable multiple placeholder="彩种"  style="width: 150px">
                <el-option v-for="(opt, index) in kindOpts" :key="index" :value="opt.value" :label="opt.label"></el-option>
            </el-select>
            <el-input v-model="table.params.period" placeholder="期数" @keyup.native.enter="requestTable(true)" style="width: 150px;margin-right: 10px;margin-left: 10px;"></el-input>
            <el-input v-model="table.params.username" placeholder="用户名" @keyup.native.enter="requestTable(true)" style="width: 150px"></el-input>
            <div style="display: inline-block;white-space: nowrap;margin-right: 10px;margin-left: 10px;">
                <el-input v-model="table.params.minBetResult" placeholder="最低奖金" @keyup.native.enter="requestTable(true)" style="width: 100px"></el-input>
                -
                <el-input v-model="table.params.maxBetResult" placeholder="最高奖金" @keyup.native.enter="requestTable(true)" style="width: 100px"></el-input>
            </div>
            <div style="display: inline-block;white-space: nowrap;margin-right: 10px;">
                <el-date-picker v-model="table.params.startTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="开始时间"></el-date-picker>
                -
                <el-date-picker v-model="table.params.endTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="结束时间"></el-date-picker>
            </div>
            <GaCountdown v-loading="table.loading" @finished="requestTable(true)"></GaCountdown>
            <el-button type="primary" @click="requestTable(true)">刷新</el-button>
        </div>

        <el-table :data="table.rows" stripe>
            <el-table-column label="编号" prop="betNo"></el-table-column>
            <el-table-column label="用户" prop="username"></el-table-column>
            <el-table-column label="当前余额" prop="credit"></el-table-column>
            <el-table-column label="投注余额" prop="betBalance"></el-table-column>
            <el-table-column label="投注时间" prop="recordTime"></el-table-column>
            <el-table-column label="彩种" prop="kindName"></el-table-column>
            <el-table-column label="期数" prop="period"></el-table-column>
            <el-table-column label="投注号码" prop="betContent"></el-table-column>
            <el-table-column label="玩法" prop="betType"></el-table-column>
            <el-table-column label="倍数模式" prop="multipleUnitLabel"></el-table-column>
            <el-table-column label="投注总额(元)" prop="betAmount"></el-table-column>
            <el-table-column label="奖金(元)" prop="betResult"></el-table-column>
            <el-table-column label="开奖号码" prop="resultNums"></el-table-column>
            <el-table-column label="状态">
                <template scope="scope">
                    <div :class="statusClass(scope.row.status)">{{scope.row.status}}</div>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
                       layout="total, sizes, prev, pager, next, jumper"></el-pagination>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import TableVo from "@/models/vos/TableVo";
    import BetApi from "@/api/BetApi";
    import {ConstStore} from "@/store/modules/ConstStore";
    import OptVo from "@/models/vos/OptVo";
    import GaCountdown from "@/components/Ga/GaCountdown.vue";
    import C from "@/constants/C";

    /**
     * 注单列表
     */
    @Component({
        components: {GaCountdown}
    })
    export default class LotteryBetList extends Vue {
        table = new TableVo({
            kind: [],
            period: "",
            startTime: "",
            endTime: "",
            username: "",
            minBetResult: "",
            maxBetResult: "",
        });

        /**
         * 获取游戏选项数据
         */
        get kindOpts(): OptVo[] {
            return ConstStore.kindOpts;
        }

        mounted() {
            this.requestTable();
        }
        public refreshTable(){
            this.table.params.kind = [];
            this.table.params.period = "";
            this.table.params.username = "";
            this.table.params.minBetResult = "";
            this.table.params.maxBetResult = "";
            this.table.params.startTime = "";
            this.table.params.endTime = "";
            console.log(this.table.getParams());
            this.requestTable(true);
        }
        /**
         * 请求表格数据
         * @param resetPage
         */
        async requestTable(resetPage = false) {
            if (resetPage) {
                this.table.page = 1;
            }
            this.table.loading = true;
            let vo = await BetApi.getBetRowVoTable(this.table.getParams());
            this.table.loading = false;
            this.table.setByTableDataVo(vo);
        }
        /**
         * 页数变化
         * @param size
         */
        async onSizeChange(size: number) {
            this.table.size = size;
            this.requestTable();
        }
        /**
         * 页码变化
         * @param page
         */
        async onPageChange(page: number) {
            this.table.page = page;
            this.requestTable();
        }

        statusClass(status: string): string {
            let cls = "app-container--not";
            if (status === C.BET_STATUS_LABEL_WIN) cls = "app-container--yes";
            if (status === C.BET_STATUS_LABEL_LOSE) cls = "app-container--no-in";
            return cls;
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/css/common";

    .app-container--yes {
        color: $ColorLotteryYes;
    }
    .app-container--not {
        color: $ColorLotteryNot;
    }
    .app-container--no-in {
        color: $ColorLotteryNotIn;
    }
</style>
