<template>
    <div class="app-container">
        <div class="ga-flex">
            <el-select v-model="table.params.kind" filterable clearable multiple placeholder="彩种">
                <el-option v-for="(opt, index) in kindOpts" :key="index" :value="opt.value" :label="opt.label"></el-option>
            </el-select>
            <el-input v-model="table.params.period" placeholder="期数" style="width: 200px"></el-input>
            <el-date-picker v-model="table.params.date" value-format="yyyy-MM-dd" type="date" placeholder="选择日期"></el-date-picker>
            <el-checkbox v-model="table.params.recently">只显示最近</el-checkbox>
            <GaCountdown v-loading="table.loading" @finished="requestTable"></GaCountdown>
            <el-button type="primary" @click="requestTable">刷新</el-button>
        </div>

        <el-table :data="table.rows" stripe>
            <el-table-column label="彩种" prop="kindName"></el-table-column>
            <el-table-column label="期数" prop="period"></el-table-column>
            <el-table-column label="状态" prop="statusLabel"></el-table-column>
            <el-table-column label="开奖时间" prop="openTime"></el-table-column>
            <el-table-column label="派彩时间" prop="payoutTime"></el-table-column>
            <el-table-column label="开奖结果" prop="result"></el-table-column>
            <el-table-column label="预设结果" prop="predict"></el-table-column>

            <el-table-column label="操作">
                <template #default="props">
                    <el-button v-show="props.row['canMod']" @click="onPredictResult(props.row)">预设结果</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination @size-change="onSizeChange" @current-change="onPageChange" :current-page="table.page" :page-size="table.size" :total="table.count" :page-sizes="[10, 20, 50, 100, 200, 500]"
                       layout="total, sizes, prev, pager, next, jumper"></el-pagination>

        <el-dialog title="预设结果" :visible.sync="resultForm.visible" :close-on-click-modal="false">
            <el-form @submit.native.prevent label-width="120px">
                <el-form-item label="结果">
                    <el-input v-model="resultForm.params.result" :minlength="5" :maxlength="5" placeholder="格式:12345 或 1,2,3,4,5"></el-input>
                </el-form-item>
            </el-form>

            <template #footer>
                <el-button v-loading="resultForm.loading" type="primary" @click="onSubmitPredictResult">确定</el-button>
                <el-button @click="resultForm.visible = false">取消</el-button>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import TableVo from "@/models/vos/TableVo";
    import ScheduleApi from "@/api/ScheduleApi";
    import FormVo from "@/models/vos/FormVo";
    import WindowUtil from "@/utils/WindowUtil";
    import {ConstStore} from "@/store/modules/ConstStore";
    import OptVo from "@/models/vos/OptVo";
    import GaCountdown from "@/components/Ga/GaCountdown.vue";
    import TimeUtil from "@/utils/TimeUtil";

    @Component({
        components: {GaCountdown}
    })
    export default class ScheduleList extends Vue {
        table = new TableVo({
            kind: [],
            period: "",
            date: TimeUtil.today(),
            recently: true
        });

        /**
         * 获取游戏选项数据
         */
        get kindOpts(): OptVo[] {
            return ConstStore.kindOpts;
        }

        /**
         * 修改结果的表单数据
         */
        resultForm = new FormVo({
            scheduleId: "",
            result: "",
        });

        /**
         * 请求表格数据
         */
        async requestTable(resetPage = false) {
            if (resetPage) {
                this.table.page = 1;
            }
            this.table.loading = true;
            let vo = await ScheduleApi.getScheduleListTable(this.table.getParams());
            this.table.loading = false;
            this.table.setByTableDataVo(vo);
        }

        /**
         * 页数变化
         */
        async onSizeChange(size: number) {
            this.table.size = size;
            this.requestTable();
        }

        /**
         * 页码变化
         */
        async onPageChange(page: number) {
            this.table.page = page;
            this.requestTable();
        }

        /**
         * 预设结果
         * @param vo
         */
        async onPredictResult(vo: any) {
            this.resultForm.params.scheduleId = vo.scheduleId;
            this.resultForm.params.result = vo.predict.replace(/,/g, "");
            this.resultForm.visible = true;
        }

        /**
         * 提交表单数据
         */
        async onSubmitPredictResult() {
            if (this.resultForm.loading) {
                WindowUtil.messageWarningWait();
                return;
            }
            this.resultForm.loading = true;
            let done = await ScheduleApi.predictScheduleResult(this.resultForm.params);
            this.resultForm.loading = false;

            if (done) {
                this.resultForm.visible = false;
                this.requestTable();
            }
        }

    }
</script>

<style lang="scss" scoped>

</style>
