<template>
    <div class="app-container">
        模板页面
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'

    @Component({})
    export default class __Template extends Vue {

    }
</script>

<style lang="scss" scoped>

</style>
