<template>
    <el-radio-group v-model="selfValue" @change="onRadioGroupChange">
        <el-radio-button v-for="(opt, index) in isNotOpts" :key="index" :label="opt.value">{{ opt.label }}</el-radio-button>
    </el-radio-group>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import OptVo from "@/models/vos/OptVo";
    import C from "@/constants/C";

    @Component({})
    export default class GaCheckboxGroupIsNot extends Vue {
        @Prop({required: true, type: [Number, String]})
        public value!: number|string;

        /**
         * 组件内绑定 el-checkbox-group 的值
         */
        public selfValue: number|string = "";


        /**
         * 是否选项数据
         */
        public get isNotOpts(): OptVo[] {
            return C.getIsNotOpts();
        }

        @Watch("value")
        public watchValue(val: number|string) {
            this.selfValue = val;
        }
        @Watch("selfValue")
        public watchSelfValue(val: number|string) {
            this.$emit("input", val);
        }

        mounted() {
            this.selfValue = this.value;
        }

        /**
         * 监听选项组变化
         * @param val
         */
        onRadioGroupChange(val: number|string) {
            this.$emit("input", val);
        }
    }
</script>

<style lang="scss" scoped>

</style>
