<template>
    <div class="app-container">
        <el-table :data="table.rows" v-loading="table.loading" stripe>
            <el-table-column label="ID" prop="id"></el-table-column>
            <el-table-column label="奖励类型" prop="title"></el-table-column>
            <el-table-column label="奖金池" width="180">
                <template #default="props">
                    <el-input size="small" v-model="props.row.nowIntegral" placeholder="奖励值" @change="handleEdit({'id' : props.row.id,'nowIntegral' : props.row.nowIntegral})"></el-input>
                </template>
            </el-table-column>
            <el-table-column label="奖励值" width="180">
                <template #default="props">
                    <el-input size="small" v-model="props.row.value" placeholder="奖励值" @change="handleEdit({'id' : props.row.id,'value' : props.row.value})"></el-input>
                </template>
            </el-table-column>
            <el-table-column label="条件" width="180">
                <template #default="props">
                    <el-input size="small" v-model="props.row.condition" placeholder="条件" @change="handleEdit({'id' : props.row.id,'condition' : props.row.condition})"></el-input>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
    import C from "@/constants/C";
    import HttpUtil from "@/utils/HttpUtil";
    import TableVo from "@/models/vos/TableVo";
    import TableDataVo from "@/models/vos/TableDataVo";
    import FormVo from "@/models/vos/FormVo";
    import OptVo from "@/models/vos/OptVo";
    import {ConstStore} from "@/store/modules/ConstStore";

    /**
     * 账号表格数据封装
     */
    @Component({})
    export default class LuckRunTable extends Vue {
        public form = new FormVo({
        });
        /**
         * 表格数据
         */
        public table = new TableVo({
        });
        /**
         * 渲染后执行的方法
         */
        async mounted() {
            await this.requestLuckRunTable();
        }

        /**
         * 修改奖励概率
         */
        public async handleEdit(value: any) {
            if (this.table.loading) {
                return;
            }
            this.table.loading = true;
            let isDone = await HttpUtil.post("activity/edit-cash-rewards",value);
            if (isDone) {
                this.table.loading = false;
                this.requestLuckRunTable();
            }
        }
        /**
         * table信息
         */
        public async requestLuckRunTable() {
            if (this.table.loading) {
                return;
            }
            this.table.loading = true;
            let vo = await HttpUtil.post("activity/get-cash-rewards-list");
            if (!vo.isDone()) {
                return new TableDataVo();
            }
            this.table.rows = vo.d;
            this.table.loading = false;
        }

    }
</script>

<style lang="scss">
    .account-manage-user-table {
        .el-table__expanded-cell {
            padding: 0 0 0 20px;
        }
    }
</style>
